@import '../../../assets/scss/chips';
@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/buttons';
@import '../../../assets/scss/loaders';

.container {
    margin: 0 auto;
}

button {
  margin-right: 0.625rem;
}

#appMentorshipInterestButton {
  display: block;
  background-color: $andela-secondary;
  color: #FFF;

  &[disabled] { background-color: rgba(0, 0, 0, 0.12);}
}

.small-7 {
  font-size: 0.7rem;
}

.medium-txt {
  font-size: 1rem;
}

.request-detail-card {
  margin: 0 auto;
  padding: 1.937rem;
  border-radius: 0.125rem;
  background: $white;
  box-shadow: 0 0.0625rem 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
  
}

.card-content {
  width: 100%;
}

.content-right, .content-left {
  width: 100%;
  @include box-sizing();
}

.title {
  padding-top: 2rem;
  font-size: 1.5rem;
}

.content-right {
  display: flex;
  flex-direction: column;
  border-left: 0.25rem solid #f2f2f2;
  padding-left: 1.25rem;
}

.overview {
  h5 {
    text-transform: uppercase;
    color: $grey-light-400;
  }

  p {
    font-size: 0.9rem;
  }
}

.request-detail-info {
  font-size: 0.8rem;
}

.content-right p {
  line-height: 1.3rem;
}

.card-actions {
  width: 100%;
  margin-top: 0.625rem;
}

.avatar {
  float: left;
  height: 3.125rem;
  width: 3.125rem;

  img {
    border-radius: 50%;
    border: 0.187rem solid #e8e8e8;
    height: inherit;
    width: inherit;
    @include box-sizing();
  }
}

.bio {
  min-height: 3.125rem;
  max-width: 18.75rem;
  margin-left: 4.063rem;

  > div:first-child {
    font-size: 1.1rem;
    font-weight: bold;
  }

  > div:last-child {
    margin-top: 0.438rem;
    font-size: 0.7rem;
    color: $grey-light-400;
  }
}

.mentor-list-container {
  width: 100%;
  margin-top: 1.5rem;
}

.mentor-list-container {
  md-card {
    display: inline-block;
    height: 6.25rem;
    width: 100%;
    @include box-sizing();
    padding: 0.75rem 1.25rem 0 1.25rem;
  }
}

.list-span {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  order: 1;
}

.interested {
  width: 100%;
}

.length-of-mentorship {
  display: inline-block;
  line-height: 1.5rem;
  color: #666;
}

.emphasize {
  font-weight: 700;
  font-style: italic;
}

.md-chip-list {
  display: inline-block;
  margin: 1.25rem 0 1.25rem 0;
}

/*
 * Tablet (min-width: 769px)
 */
@media screen and (min-width: 769px) {
  .card-content {
    width: 100%;
    display: flex;
  }

  .content-left, .content-right {
    width: 50%;
  }

  .content-left {
    padding-right: 2.50rem;
  }

  .title {
    padding-top: 2rem;
    font-size: 1.5rem;
  }

  .content-right {
    display: flex;
    flex-direction: row;
  }

  .overview {
    width: 50%;

    p {
      font-size: 0.8rem;
    }
  }

  .card-actions {
    width: 100%;
  }

  .mentor-list-container {
    width: 100%;
  }

  md-card {
    margin-right: 2rem;
  }

  .list-span {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .mentor-list-container {
    md-card {
      height: 6.25rem;
      width: 17.5rem;
      @include box-sizing()
    }
  }
}

/*
 * Desktop (min-width: 1025px)
 */
@media screen and (min-width: 1025px) {
  .container {
    width: 100%;
  }
}
