<div class="request-detail-card">
  <div class="card-content">
    <div class="content-left">
      <div class="status small-7 rounded-chip" [ngClass]="getClassName(details?.status)">{{ details.status }}</div>
      <div class="title">{{ details.title }}</div>
      <div class="overview">
        <p>{{ details.description }}</p>
      </div>
      <div class="request-detail-info">
        <div class="length-of-mentorship">
          Length of Mentorship is
          <span disabled="true" class="emphasize">{{ details.duration }} month(s)</span> on
          <span class="emphasize">{{ details['days']?.join(', ') }} </span> at
          <span class="emphasize">Time: {{ details.pairing?.start_time }} - {{ details.pairing?.end_time }} {{ details.pairing?.timezone}}</span>
        </div>
      </div>
      <div class="md-chip-list">
        <md-chip-list>
          <div *ngFor="let skill of details.request_skills" class="chip">{{ skill.name }}</div>
        </md-chip-list>
      </div>
    </div>
    <div *ngIf="menteeDetails" class="content-right">
      <div class="overview">
        <h5><strong>Mentee</strong></h5>
        <div class="mentee-info">
          <div class="avatar">
            <img src="{{ menteeDetails?.picture }}" alt="">
          </div>
          <div class="bio">
            <div>{{ menteeDetails?.name }}</div>
            <div>
              <p>
                <span *ngFor="let role of menteeDetails.roles"
                      class="emphasize">{{ role?.name }}, </span>
              </p>
            </div>
            <div>{{ menteeDetails?.level?.name }}</div>
            <div>
              <p *ngIf="!menteeDetails.placement"><strong>Client status: </strong>Not Placed</p>
              <p *ngIf="menteeDetails.placement && menteeDetails.placement?.status !== ''"><strong>Client status: </strong>Not Placed</p>
            </div>
            <div>{{ menteeDetails?.cohort?.name }}</div>
            <div>{{ menteeDetails?.location?.name }}</div>
            <div>{{ menteeDetails?.request_count }} mentorship request(s)
              made</div>
          </div>
        </div>
      </div>
      <div *ngIf="details.status === 'matched'" class="overview">
        <h5><strong>Mentor</strong></h5>
        <div class="mentee-info">
          <div class="avatar">
            <img src="{{ mentorDetails?.picture }}" alt="">
          </div>
          <div class="bio">
            <div>{{ mentorDetails?.name }}</div>
            <div>
              <p>
                <span *ngFor="let role of mentorDetails.roles"
                      class="emphasize">{{ role?.name }}, </span>
              </p>
            </div>
            <div>{{ mentorDetails?.level?.name }}</div>
            <div>{{ mentorDetails?.cohort?.name }}</div>
            <div>{{ mentorDetails?.location?.name }}</div>
            <div>{{ mentorDetails?.request_count }} mentorship request(s)
              made</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!menteeDetails || !mentorDetails" class="content-right" class="loader">
      <md-spinner></md-spinner>
    </div>
  </div>
  <div class="card-actions">
    <div *ngIf="details.status === 'open'">
      <button md-raised-button
        *ngFor="let button of actionButtons"
        class="{{ button.class }}"
        id="{{ button.id }}"
        [disabled]="hasAlreadyIndicatedInterest"
        (click)="emitClickAction(button.name)">
        {{ hasAlreadyIndicatedInterest ? "You have indicated interest" : button.name }}
        <md-spinner *ngIf="loading"></md-spinner>
      </button>
    </div>
  </div>
</div>
