<div class="modal">
  <form [formGroup]="form" (ngSubmit)="skill ? editSkill(form) : createSkill(form)" novalidate>
    <h1 *ngIf="skill" md-dialog-title>Edit Skill</h1>
    <h1 *ngIf="!skill" md-dialog-title>Create Skill</h1>
    <md-dialog-content>
      <div class="form-section">
        <div layout>
          <md-input-container class="full-width">
            <input formControlName="name" mdInput placeholder="Enter a skill name" />
          </md-input-container>

          <span class="error" [hidden]="form.get('name').valid || form.get('name').untouched">Name required *</span>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <div id="btn-request-container">
        <button md-raised-button type="button" (click)="dialogRef.close(false)" class="action-button">Cancel</button>
        <button md-raised-button type="submit" class="md-btn-andela-pink" [disabled]="!form.valid">Save Skill</button>
      </div>
    </md-dialog-actions>
  </form>
</div>
<div *ngIf="loading" class="progress-bar">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
