<div class="table" *ngIf="requests.length > 0; else noRequest">
  <div class="header" appMatchPoolHeaderWidthToParent>
      <div>Request</div>
      <div>Primary Skill</div>
      <div>Secondary Skill</div>
      <div>Preferred Duration</div>
      <div>Date Added</div>
      <div>Location</div>
  </div>
  <div class="header-space"></div>
  <div *ngFor="let request of requests" class="body" id="request-pool">
    <div class="row" (click)="showRequestDetails(request)">
      <div>{{ request.title }}</div>
      <div>{{ request.request_skills|requestSkill: 'primary' }}</div>
      <div>{{ request.request_skills|requestSkill: 'secondary' }}</div>
      <div>{{ request.duration|requestDuration }}</div>
      <div>{{ request.created_at|date: 'longDate' }}</div>
      <div>{{ request.location }}</div>
    </div>
    <div class="space"></div>
  </div>
</div>
<div class="line"></div>
<app-request-details *ngIf="showRequest" [selectedRequest]="selectedRequest" (close)="closeRequest()">
</app-request-details>
<ng-template #noRequest>
  <app-no-search-result></app-no-search-result>
</ng-template>
