@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
.no-result-notification {
  padding-top: 2%;
  padding-right: 3%;
}
.no-result-header {
  font-family: $font-family-1;
  font-size: 18px;
  text-align: center;
  color: $grey-light-900;
}

.no-result-tag-line {
  font-family: $font-family-1;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: $header-text-color;
}

.no-result-notification-circle {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 50%;
  font-size: 35px;
  line-height: 55px;
  color: $file-linear-gradient;
  text-align: center;
  background: rgba(4, 89, 228, 0.2);
  left:45%;
  margin: 0 auto 30px;
}

