@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/loaders';
@import '../../../../assets/scss/table.scss';

.edit-skill {
   cursor: pointer;
   margin-right: 10px;
}

.disable-skill {
  margin-left: 7px !important;
}
.edit-skill:hover {
     font-size: 17px !important;
}
img {
  margin-bottom: -4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
