<div class="content-container">
  <div *ngIf="!rerender" class="pool-header-wrapper">
    <div class="header custom-row">
      <div class="custom-col-4">
        <span id="skill" (click)="sortSkills('name')">Skill
          <img appSetRequestHeaderIcon [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory" [headerName]="'name'"
            src="../../../../assets/images/sort-a-z-inactive.png" />
        </span>
      </div>
      <div class="custom-col-3">
        <span id="status" (click)="sortSkills('active')">Status
          <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
            [headerName]="'active'" />
        </span>
      </div>
      <div class="custom-col-3">
        <span id="requests" (click)="sortSkills('number_of_requests')">Requests
          <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
            [headerName]="'number_of_requests'" />
        </span>
      </div>
      <div class="custom-col-3">
        <span id="last-requested" (click)="sortSkills('last_requested', true)">Last requested
          <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
            [headerName]="'last_requested'" />
        </span>
      </div>
      <div class="custom-col-3">Action</div>
    </div>
  </div>
  <div class="pool-table">
    <div class="pool-body">
      <a *ngFor="let skill of skills" class="body-content custom-row" id="skill-pool">
        <div attribute="skill-name" class="custom-col-4">{{ skill.name }} </div>
        <div attribute="skill-status" class="custom-col-3">{{ !skill.deleted_at ? 'Active' : 'Inactive' }}</div>
        <div attribute="skill-requests" class="custom-col-3">{{ skill.number_of_requests }}</div>
        <div attribute="skill-last-requested" class="custom-col-3">{{ skill.last_requested === null ? 'No Request' : skill.last_requested| date:"longDate" }}</div>
        <div attribute="skill-action" class="custom-col-3">
          <span class="edit-skill">Edit</span>
          <span>Disable</span>
        </div>
      </a>
      <div class="space"></div>
    </div>
  </div>
</div>
