<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/nav-bar.css">
    <link rel="stylesheet" href="../../assets/css/request-pool-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <title>Request Pool UI</title>
</head>
<body>
    <header class="header-grid">
        <ul>
            <li>
                <div>
                    <form>
                        <input class="search" type="search" id="search">
                    </form>
                </div>
            </li>
            <li class="select-style">
                <select name="" id="">
                    <option value="">REQUEST FOR</option>
                    <option value="">something</option>
                    <option value="">something</option>
                </select>
            </li>
            <a href="">
                <li class="notification">
                    <img src="../../assets/images/notification.png" alt="">
                </li>
            </a>
            <a href="">
                <li class="user-icon">
                    <div >
                        <img class="img-circular" src="../../assets/images/upic@2x.png" alt="" width="30px" height="30px">
                    </div>
                </li>
            </a>
            <a href="">
                <li class="caret-spacing">
                    <div class="spacer">
                        <span class="arrow-down"></span>
                    </div>
                </li>
            </a>
        </ul>
    </header>
    <nav id="nav-grid">
            <ul>
                <li class="nav-home-icon">
                  <img src="../../assets/images/andela-master-condensed-mark.jpg" alt="">
                </li>
                <li class="nav-icons section-img active" id="pool"><span>Pool</span></li>
                <li class="nav-icons section-img" id="pending"><span>Pending</span></li>
                <li class="nav-icons section-img" id="progress"><span>In Progress</span></li>
                <li class="nav-icons section-img" id="history"><span>History</span></li>
            </ul>
        </nav>
    <div class="wrapper">
        <section id="section-grid">
            <div class="table">
                <div class="header">
                    <div class="row">
                        <div>Request</div>
                        <div >Primary Skill</div>
                        <div >Secondary Skill</div>
                        <div >Preffered Duration</div>
                        <div >Date Added</div>
                        <div>Location</div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="body">
                    <div class="row">
                        <div>Java Mentor</div>
                        <div>Java, Common Sense</div>
                        <div>Programming Skills</div>
                        <div>3 Months</div>
                        <div>May 25, 2017</div>
                        <div>Nairobi</div>
                    </div>
                </div>
                <div class="space"></div>
                <div class="body">
                    <div class="row">
                        <div>Java Mentor</div>
                        <div>Java, Common Sense</div>
                        <div>Programming Skills</div>
                        <div>3 Months</div>
                        <div>May 25, 2017</div>
                        <div>Nairobi</div>
                    </div>
                </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
              <div class="space"></div>
              <div class="body">
                <div class="row">
                  <div>Java Mentor</div>
                  <div>Java, Common Sense</div>
                  <div>Programming Skills</div>
                  <div>3 Months</div>
                  <div>May 25, 2017</div>
                  <div>Nairobi</div>
                </div>
              </div>
            </div>
        </section>
        <aside id="side-grid">
            <div class="side-contents">
                <h4>Requests</h4>
                <label class="input-container" for="">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                    All Requests
                </label>
                <label class="input-container" for="">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    Recommended for me
                </label>
            </div>
            <div class="side-contents">
                <h4>Type</h4>
                <label class="input-container" for="">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                    Seekeing Mentor
                </label>
                <label class="input-container" for="">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                    Seekeing Mentor
                </label>
            </div>
            <div class="side-contents">
                <h4>Sorting</h4>
                <p>User's Rating</p>
                <select name="" id="">
                    <option value="" disabled selected>Select</option>
                    <option value="mentor">Mentor</option>
                    <option value="mentee">Mentee</option>
                </select>
                <p>Location</p>
                <select name="" id="">
                    <option value="" disabled selected>Select</option>
                    <option value="mentor">Mentor</option>
                    <option value="mentee">Mentee</option>
                </select>
                <p>Length</p>
                <select name="" id="">
                    <option value="" disabled selected>Select</option>
                    <option value="mentor">Mentor</option>
                    <option value="mentee">Mentee</option>
                </select>
                <p>Skill set</p>
                <select name="" id="">
                    <option value="" disabled selected>Select skill</option>
                    <option value="mentor">Mentor</option>
                    <option value="mentee">Mentee</option>
                </select>
            </div>
            <div class="side-contents">
                <h4>Saved Filters</h4>

                <label class="input-filter" for="">
                    <input type="checkbox">
                    <span class="filter-checkmark"></span>
                    Mentor Seeker
                    <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                </label>
                <label class="input-filter" for="">
                    <input type="checkbox">
                    <span class="filter-checkmark"></span>
                    Saved to Doe
                    <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                </label>
            </div>
        </aside>
    </div>
</body>

</html>
