@import '../request-pool';
.wrapper {
  height: 100%;
}
.container {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  padding: 0 5px 0 5px;
  height: 100%;
  &:nth-child(1) {
    margin-top: 30px;
  }
}

#section-grid {
  width: 98%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (min-width: 1920px){
  #section-grid {
      width: 98.5% !important;
  }
}
