@import '../request-pool';

.container {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  padding: 0 5px 0 5px;
  height: calc((100vh - 10em)/2);
  overflow-y: scroll;
  &:nth-child(1) {
    margin-bottom: 40px;
  }
}

#section-grid {
  width: 90%;
}
