<header class="header-grid">
  <ul *ngIf='isLoggedIn'>
    <li>
      <a href="{{ redirectUrl }}" class="redirect-link">
        <div class="rectangle">
          <img src="../../../../assets/images/google-black.png" class="google-black" /> &nbsp;&nbsp;&nbsp;&nbsp;
          <p>Sign in to get started</p>
        </div>
      </a>
    </li>
  </ul>
  <ul *ngIf='showHeaderContent'>
    <li>
      <div>
        <form>
          <input class="search" type="search" id="search">
        </form>
      </div>
    </li>
    <li *ngIf="isAdmin" class="dropdown">
      <button class="request-option" id="admin-button">DASHBOARD</button>
      <div class="admin-content common-dropdown-styles">
        <a id="requests-pool" [routerLink]="['/all-requests']">REQUESTS</a>
        <a id="all-skills" [routerLink]="['admin/skills']">SKILLS</a>
        <a id="reports" [routerLink]="['admin/reports']">REPORTS</a>
      </div>
    </li>
    <li class="dropdown">
      <button class="request-option" id="request-button"> REQUEST FOR</button>
      <div class="admin-content common-dropdown-styles">
        <a id="mentor" (click)="showCreateRequestModal(requestTypes.MENTOR_REQUEST)">MENTOR</a>
        <a id="mentee" (click)="showCreateRequestModal(requestTypes.MENTEE_REQUEST)">MENTEE</a>
      </div>
    </li>
    <app-notifications [state]="displayNotifications" (close)="closeNotifications($event)"></app-notifications>
    <li (click)="openNotifications()">
      <a [className]="(checkIfUnreadNotificationsExist()) ? 'unread-notifications': 'notification'">
        <span *ngIf="checkIfUnreadNotificationsExist()" class="dot"></span>
        <img src="../../assets/images/notification-icon.png" alt="">
      </a>
    </li>
    <a class="dropdown user-icon drop-btn">
      <img class="img-circular" src="{{currentUser?.picture}}" alt="" width="32px" height="32px">
      <span class="user-name">{{ currentUser?.name }}</span>
      <span class="arrow-down"></span>
      <div class="dropdown-content common-dropdown-styles">
        <a id="view-profile" href="/profile">VIEW PROFILE</a>
        <a href="#">SETTINGS</a>
        <a href="#" class="sign-out" (click)="logoutUser()">SIGN OUT</a>
      </div>
    </a>
  </ul>
</header>
<app-create-request
 *ngIf="displayCreateRequestModal" [requestType]="requestType"
 (closeCreateRequestModal)="closeCreateRequestModal()"
 (showRequestModal)= "showRequestDetailsModal($event)" >
</app-create-request>
<app-request-details
*ngIf="showRequest"
[selectedRequest]="selectedRequest"
(close)="closeRequestDetailsModal()"
></app-request-details>
