@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/fonts';
.header-grid {
  width: 100vw;
  height: 4em;
  background-color: #f7f8f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;

  ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    list-style-type: none;
    align-items: center;

    a {
      margin-right: 2%;
    }

    li {
      margin-right: 2%;
    }

    .notification {
      cursor: pointer;
      position: relative;
      display: block;

      img {
        width: 30px;
        height: auto;
        display: block;
      }
    }
    .unread-notifications {
      @extend .notification;
      top:-8.5px;
    }


    .user-icon {
      padding-right: 15px;
      display: inline-flex;
      align-items: center;
    }

    .caret-spacing {
      top: 35%;
      margin-left: 5px;
    }
  }
}

.user-profile {
  pointer-events: none;
}

.user-name {
  color: #838383;
  text-align: left;
  margin-left: 5px;
  font-size: 18px;
}

.spacer {
  margin-top: -10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #E4DEDE;
  margin-left: 15px;
}

.img-circular {
  background-size: cover;
  display: block;
  border-radius: 50%;
  background-color: cornflowerblue;
}

.request-option {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  border: solid 1px $andela-blue;
  width: 160px;
  height: 38px;
  border-radius: 1px;
  cursor: pointer;

  &#request-button {
    color: white;
    background: $andela-blue url(../../../../assets/images/caret.svg) no-repeat 90% 50%;
    background-size: 18px;
  }

  &#admin-button {
    color:  $andela-blue;
    background: white url(../../../../assets/images/caret-blue.svg) no-repeat 90% 50%;
    background-size: 18px;
  }
}

#request-for-dropdown {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: white;
  background: $andela-blue url(../../../../assets/images/caret.svg) no-repeat 90% 50%;
  background-size: 18px;
  border: solid 1px $andela-blue;
  width: 160px;
  height: 38px;
  border-radius: 1px;
}

.sign-in-button {
  width: 200px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin-top: 3%;
}

.search {
  padding: 10px;
  height: 32px;
  width: 224px;
  padding-left: 30px;
  border-width: 1px;
  border: 1px solid #dddddd;
  border-radius: 50px;

  &:focus {
    outline: none;
  }
}

.drop-btn {
  padding: 15px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.request-for-content {
  margin-top: 10px;
}

.common-dropdown-styles {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;

  a {
    color: #444444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.admin-content a:hover {
  background-color: #f1f1f1
}

.request-for-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover {
  .arrow-down {
    transform-origin: center center;
    transform: scaleY(-1);
  }

  .request-for-content {
    display: block;
  }

  .admin-content {
    display: block;
  }

  .dropdown-content {
    display: block;
    top: 100%;
  }
}

.sign-out {
  opacity: 1;
}

.arrow-spacing {
  width: 100%;
  margin-left: 140%;
  pointer-events: none;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #ffaf30;
  border-radius: 50%;
  display: inline-block;
  position:relative;
  top:16px;
  left:-3px;
}

.redirect-link {
  text-decoration: none;
}

.rectangle {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 45px;
  border-radius: 5px;
  background-color: #3359db;
  color: #ffffff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.rectangle img {
  height: 20px;
}

.rectangle p {
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1920px) {
  .header-grid {
    height: 4em;
  }
}

.search-icon {
  margin-left: 193px;
  position: absolute;
  top: 20px;
}
