<header class="header-grid">
  <ul>
    <li>
      <div>
        <form>
          <input class="search" type="search" id="search">
        </form>
      </div>
    </li>
      <li *ngIf="isAdmin" class="dropdown">
        <button id="admin-button">DASHBOARD</button>
        <div class="admin-content common-dropdown-styles">
          <a [routerLink]="['admin/requests']">REQUESTS</a>
          <a [routerLink]="['admin/skills']">SKILLS</a>
          <a [routerLink]="['admin/reports']">REPORTS</a>
        </div>
      </li>
      <li class="dropdown">
        <button id="request-for-dropdown">REQUEST FOR</button>
        <div class="request-for-content common-dropdown-styles">
          <a>something</a>
          <a>something</a>
          <a>something</a>
        </div>
      </li>
    <app-notifications [state]="displayNotifications" (onClose)="closeNotifications($event)"></app-notifications>
    <a (click)="openNotifications()">
      <li class="notification">
        <img src="../../assets/images/notification.png" alt="">
      </li>
    </a>
    <a class="dropdown user-icon drop-btn">
      <div>
        <img class="img-circular" src="{{currentUser?.picture}}" alt="" width="32px" height="32px">
      </div>
      <div class="arrow-spacing">
        <div>
          <li class="caret-spacing">
            <div class="spacer">
              <span class="arrow-down"></span>
            </div>
          </li>
        </div>
        <div class="dropdown-content common-dropdown-styles">
          <a href="/profile">VIEW PROFILE</a>
          <a href="#">SETTINGS</a>
          <a href="#" class="sign-out" (click)="logoutUser()">SIGN OUT</a>
        </div>
      </div>
    </a>
  </ul>
</header>
