<header class="header-grid">
  <ul>
    <li>
      <div>
        <form>
          <input class="search" type="search" id="search">
        </form>
      </div>
    </li>
    <li class="select-style">
      <select name="" id="">
        <option value="">REQUEST FOR</option>
        <option value="">something</option>
        <option value="">something</option>
      </select>
    </li>
    <a href="">
      <li class="notification">
        <img src="../../assets/images/notification.png" alt="">
      </li>
    </a>
    <a href="">
      <li class="user-icon">
        <div>
          <img class="img-circular" src="../../assets/images/upic@2x.png" alt=""
               width="30px" height="30px">
        </div>
      </li>
    </a>
    <a href="">
      <li class="caret-spacing">
        <div class="spacer">
          <span class="arrow-down"></span>
        </div>
      </li>
    </a>
  </ul>
</header>
