@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/fonts';
.header-grid {
  width: 100vw;
  height: 4em;
  background-color: #f7f8f7;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  padding-bottom: 10px;
  z-index: 2;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    height: 100%;
    list-style-type: none;
    a {
      margin-right: 2%;
    }
    li {
      position: relative;
      top: 20%;
      margin-right: 2%;
    }
    .notification {
      top: 35%;
    }
    .user-icon {
      top: 5%;
      margin-right: 4%;
    }
    .caret-spacing {
      top: 35%;
      margin-left: 5px;
    }
  }
}

.spacer {
  margin-top: -10px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #E4DEDE;
}

.img-circular {
  background-size: cover;
  display: block;
  border-radius: 50%;
}

.select-style {
   border: none;
   width: 160px;
   overflow: hidden;
   background: $andela-blue url(../../../../assets/images/caret.svg) no-repeat 90% 50%;
   background-size: 18px;
   height: 60%;
   text-align: center;
   select {
     padding-left: 10%;
     padding-top: 7%;
     font-size: 15px;
     width: 130%;
     color: white;
     border: none;
     box-shadow: none;
     background: transparent;
     -webkit-appearance: none;
     &:focus {
       outline: none;
     }
   }
 }

#admin-button {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color:  $andela-blue;
  background: white url(../../../../assets/images/caret-blue.svg) no-repeat 90% 50%;
  background-size: 18px;
  border: solid 1px $andela-blue;
  width: 160px;
  height: 38px;
  border-radius: 1px;
}

.search {
  padding: 10px;
  height: 32px;
  width: 224px;
  margin-top: 5px;
  background: url(../../../../assets/images/search.png) no-repeat scroll 130px 2px;
  background-position: 93% 50%;
  padding-left: 30px;
  border-width: 1px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  &:focus {
    outline: none;
  }
}

.drop-btn {
  padding: 15px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-content {
    margin-top: 25px;
    margin-right: -30px;
  }
  .admin-content {
    margin-top: 10px;
  }
}

.common-dropdown-styles {
  display: none;
  position: absolute;
  font-size: 14px;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  a {
    color: #444444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.admin-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .admin-content {
  display: block;
}

.dropdown:hover .arrow-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #E4DEDE;
  border-top: none;
  position: absolute;
  margin-top: -10px;
}
.sign-out {
  opacity: 0.6;
}
.arrow-spacing {
  width: 100%;
  margin-left: 140%;
}
