@import 'colors';
@import 'mixins';

.chip {
  display: inline-block;
  padding: 5px;
  border: 1px solid $grey-light-200;
  background-color: $grey-light-300;
  color: #FFF;
  border-radius: 5%;
  margin-right: 10px;
  margin-bottom: 5px;
  min-width: 60px;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
}

.chip-accepted-rejected {
  display: inline-block;
  padding: 5px;
  border: 1px solid $grey-light-200;
  background-color: $grey-light-300;
  color: #FFF;
  border-radius: 5%;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: .5rem;
  min-width: 70px;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
}

.green {
  background: #73D278;
}

.red {
  background : #EE5451;
}

.rounded-chip-open {
  @include rounded-chip;
  background: $andela-blue;
}

.rounded-chip-matched {
  @include rounded-chip;
  background: #73D278;
}

.rounded-chip-closed {
  @include rounded-chip;
  background: $andela-secondary;
}

.rounded-chip-cancelled {
  @include rounded-chip;
  background: #FF1665;
}
