$andela-blue: #3359DF;
$andela-blue-dark-100: #3154D5;
$andela-secondary: #e91e63;

// grey-scale
$grey-light-100: #f9f9f9;
$grey-light-200: #f7f7f7;
$grey-light-500: #ECEDF2;

// filter specific colors
$filter-bg: #d2d0d0;
$filter-top-level: #717276;
$filter-sub-level: #a6a7ac;

// table specific colors
$bg-table-header: #f2f3f7;
$table-header-text: #929397;
$table-row-text: #bababa;
