$andela-blue: #3359DF;
$andela-blue-dark-100: #3154D5;
$andela-blue-darker: #1735AD;
$andela-secondary: #e91e63;
// grey-scale
$grey-light-100: #f9f9f9;
$grey-light-200: #f7f7f7;
$grey-light-300: #ccc;
$grey-light-400: #8e8e8e;
$grey-light-500: #ecedf2;
$grey-light-600: #666;
$grey-light-700: #333;
// filter specific colors
$filter-bg: #d2d0d0;
$filter-top-level: #717276;
$filter-sub-level: #a6a7ac;
// table specific colors
$bg-table-header: #f2f3f7;
$table-header-text: #929397;
$table-row-text: #a29ea1;
// notification specific colors
$ntf-panel-bg: #f9f9f9;
$ntf-panel-header: #e5e4e4;
$ntf-primary-border: #cccccc;
$ntf-secondary-border: #d9d7d7;
$ntf-item-hover: #ffffff;
// general
$black: #000000;
$white: #ffffff;
