.loader {
  height: 50px;
  width: 50px;
  margin: 0 auto;

  md-spinner {
    height: 50px;
    width: 50px;
    color: #3359DF;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

md-spinner {
  float: right;
  width: 24px;
  height: 24px;
  color: #fff;
  margin: 6px 0 0 5px;
}