@mixin default_card_shadow {
  -webkit-box-shadow: 4px 3px 3px -1px rgba(0,0,0,0.08);
  -moz-box-shadow: 4px 3px 3px -1px rgba(0,0,0,0.08);
  box-shadow: 4px 3px 3px -1px rgba(0,0,0,0.08);
}

@mixin flex {
  display: flex;
  flex: 1;
}

@mixin flex_column{
  @include flex;

  flex-direction: column;
}

@mixin flex_column_center{
  @include flex_column;

  justify-content: center;
}

@mixin flex_row_center{
  @include flex;

  justify-content: center;
}

@mixin rounded-chip {
  height: 25px;
  line-height: 25px;
  max-width: 60px;
  padding: 0 10px;
  border-radius: 2px;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  font-size: 0.5rem;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
       -o-border-radius: $rad;
          border-radius: $rad;
}