<div class="content-container" *ngIf="loading || requests?.length > 0; else noRequest">
  <div class="pool-header-wrapper">
    <div class="header custom-row" *ngIf="!rerender">
      <div class="custom-col-2">
        <span>
          Request
        </span>
      </div>
      <div class="custom-col-3">Complimentary/Pre-requisite Skills</div>
      <div class="custom-col-2">
        <span
        (click)="sortPendingRequestsByHeader('duration')"
        >Preferred Duration
          <img
            appSetRequestHeaderIcon
            [showAlphabeticIcon]="false"
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'duration'"
            src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortPendingRequestsByHeader('created_at', true)"
        >Date Added
            <img
              appSetRequestHeaderIcon
              [showAlphabeticIcon]="false"
              [sortCategoryValues]="sortCategoryValues"
              [activeSortCategory]="activeSortCategory"
              [headerName]="'created_at'"
              src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortPendingRequestsByHeader('created_by_name')"
        >Created by
          <img
            appSetRequestHeaderIcon
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'created_by_name'"
            src="../../../../assets/images/sort-a-z-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
          <span
          (click)="sortPendingRequestsByHeader('location')"
          >Location
            <img
              appSetRequestHeaderIcon
              [sortCategoryValues]="sortCategoryValues"
              [activeSortCategory]="activeSortCategory"
              [headerName]="'location'"
              src="../../../../assets/images/sort-a-z-inactive.png" />
          </span>
      </div>
      <div class="custom-col-2">
        <span
          (click)="sortPendingRequestsByHeader('noOfInterests')"
          >Number of Interests
          <img
            appSetRequestHeaderIcon
            [showAlphabeticIcon]="false"
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'noOfInterests'"
            src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
          <span
          (click)="sortPendingRequestsByHeader('awaited_user')"
          >Status
            <img
              appSetRequestHeaderIcon
              [sortCategoryValues]="sortCategoryValues"
              [activeSortCategory]="activeSortCategory"
              [headerName]="'awaited_user'"
              src="../../../../assets/images/sort-a-z-inactive.png" />
          </span>
      </div>
    </div>

  </div>
  <div class="pool-table">
    <div class="pool-body">
      <div *ngIf="loading" class="loader"></div>
      <a *ngFor="let request of requests" class="body-content custom-row" (click)="openPendingModal(request)">
        <div class="custom-col-2">{{ request.request_skills|requestSkill: 'primary' }}</div>
        <div class="custom-col-3">
            <span *ngIf="request.request_type_id === RequestTypes.MENTOR_REQUEST">
            {{ request.request_skills|requestSkill: 'secondary' }}
            </span>
            <span *ngIf="request.request_type_id === RequestTypes.MENTEE_REQUEST">
               {{ request.request_skills|requestSkill: 'preRequisite' }}
           </span>
         </div>
        <div class="custom-col-2">{{ request.duration |  requestDuration}}</div>
        <div class="custom-col-2">{{ request.created_at | date:'longDate' }}</div>
        <div class="custom-col-2">{{ request.created_by_name }}</div>
        <div class="custom-col-2">{{ request.location }}</div>
        <div class="custom-col-2">{{ request.noOfInterests }}</div>
        <div class="custom-col-2">Awaiting {{request.awaited_user}}</div>
      </a>
      <div class="space"></div>
    </div>
  </div>
</div>

<ng-template #noRequest>
  <app-no-result [message]="noResultMessage"></app-no-result>
</ng-template>

<app-pending-modal *ngIf="openModal" #pendingModal [request]="pendingRequest" (closePendingModal)="closePendingModal()">
</app-pending-modal>
