@import "../../../../assets/scss/colors";
@import "../request-pool";

.title-container {
  position: fixed;
  margin-top: -40px;
  padding-top: 52px;
  width: 100%;
  margin-bottom: 10px;
  background: $primary-background-color;
}

.content-container {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .pool-header-wrapper {
    flex: 0 0 auto;
    border-bottom: solid 1px #dddddd;
  }

  .header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: #747474;
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px;

    div {
      padding-left: 25px;
    }
  }
  .space {
    margin-bottom: 70px;
  }
  .pool-table {
    flex: 1 1 auto;
    height: 100%;

    .pool-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: scroll;
      padding: 10px 0;
    }

    .body-content {
      background-color: #f9f9f9;
      display: flex;
      padding: 15px;
      margin: 3px 0;
      border: solid 1px #dddddd;
      justify-content: space-between;
      color: #747474;
      font-size: 13px;
      box-shadow: 0 20px 80px 4px rgba(0, 0, 0, 0.02);
      padding: 15px;
      transition: 0.3s;
      cursor: pointer;
      flex-shrink: 0;

      div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 25px;
      }

      &:active {
        border-color: rgba(51, 89, 223, 0.2);
      }

      &:hover {
        border: 1px solid rgba(51, 89, 223, 0.2);
        box-shadow: 0 10px 30px 7px rgba(77, 14, 33, 0.08);
        z-index: 2;
      }
    }
  }
}

$num-col-spans: 16;
.custom-row {
  display: flex;

  @for $span from 1 through $num-col-spans {
    .custom-col-#{$span} {
      width: ($span / $num-col-spans) * 100%;
    }
  }
}
