@import '../request-pool';

#section-grid {
  width: 71%;
  min-height: 98.35vh;
  overflow-y: scroll;
  padding: 0 5px 5px;
  float: left;
  margin-left: 0;
  margin-top: -20px;
  border-right: 0;
}
