@import "../request-pool";

#section-grid {
  width: 71%;
  min-height: unset;
  overflow-y: hidden;
  padding: 0 5px 5px;
  float: none;
  margin-left: 0;
  margin-top: 0;
  border-right: 0;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}
