<div class="wrapper">
  <section [style.width]="sectionGridWidth" id="section-grid">
    <app-pool-records
      (updateSortingStatus)="updatePoolRequestsSortingStatus($event)"
      (filterRequestsPool)="filterCurrentRequestsPool($event)"
      [requests]="requests">
    </app-pool-records>
  </section>
  <app-pool-filters *ngIf="showFilters" (applyFilters)="applyFilters($event)"> </app-pool-filters>
  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="3000" (scrolled)="onScroll()">
  </div>
</div>

