@import '../request-pool';

#section-grid {
  width: 68%;
  min-height: 98.35vh;
  overflow-y: scroll;
  padding: 35px 30px 5px;
  float: left;
  margin-left: 6em;
  margin-top:0;
  border-right: 0;
}

.top-margin {
    height: 4em;
}
