@import '../../../../assets/scss/filter';
@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/colors';

md-card {
  display: inline-block;
  width: 27%;
  height: 80px;
  color: $grey-light-600;
  margin: 10px 10px 10px 10px;
}

.header {
  min-height: 40px;
}

.and-list {
  flex: 1;
  align-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.add-btn {
  float: right;
}

.mat-card:hover .skill-btn {
  visibility: visible;
}

.card-header {
  height: 35px;
  width: 100%;
  position: relative;
}

.skill-btn {
  visibility: hidden;
  float: right;
  position: absolute;
  right: 0px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.skill-btn span {
  margin: 0 5px;
}

.mat-chip:not(.mat-basic-chip) {
  padding: 4px 6px;
  font-size: 11px;

  &.mat-primary {
    background-color: transparent;
    color: red;
    margin-left: 9px;
  }
}

.list-spacer {
  position: relative;
  left: -15px;
  flex: 1 1 auto;
}

.mat-raised-button {
  padding: 0 10px;
}

.content-wrapper {
  display: block;
}
/**
 *
 * tablet
 *
 */
@media screen and (max-width: 799px) {
  md-card {
    width: 85%;
  }
}

@media screen and (max-width: 1196px) {
  md-card {
    width: 40%;
  }
}
