<app-header>
  <div class="header">
    <span class="title">
      Admin Skills
    </span>
    <span class="add-btn">
      <button md-raised-button class="md-btn-andela-pink" (click)="openSkillModal()">Add Skill</button>
    </span>
    </div>
    <div id="app-container">
        <div class="app-partial-outlet">
            <div class="and-list-filter-container">
                <div class="and-list">
                    <div *ngIf="loading" class="loader">
                        <md-spinner></md-spinner>
                    </div>
                    <div class="row">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Search Skill" [(ngModel)]="term" />
                        </md-input-container>
                    </div>
                    <md-card *ngFor="let skill of skills | searchFilter: term" id="{{ skill.id }}">
                        <md-card-header class="card-header">
                            <span><strong>{{ skill.name }}</strong></span>
                            <div class="skill-btn">
                                <span (click)="openSkillModal(skill)"><md-icon>edit</md-icon></span>
                                <span (click)="deleteSkill(skill.id)"><md-icon>delete</md-icon></span>
                            </div>
                        </md-card-header>
                        <md-card-content class="card-content">
                        </md-card-content>
                        <md-chip-list>
                            <div class="content-wrapper">
                            <md-chip selected="">{{ (skill.request_skills_count > 0 || skill.user_skills_count > 0) ? "currently in use" : "" }}</md-chip>
                            </div>
                        </md-chip-list>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</app-header>
