<div class="profile-stats">
    <div class="stats-container">
      <p class="profile-heading"> 1. Stats </p>
      <div class="rating-container">
        <div class="average-rating">
          <span>Avg Rating:</span>
          <div class="star-container">
            <star-rating-comp [size]="'small'" [staticColor]="'default'" [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                  [rating]="currentUser.rating.cumulative_average" style="float:left" disabled></star-rating-comp>
          </div>
          <span>({{ currentUser.rating.cumulative_average }} rating(s))</span>
        </div>
        <div class="average-rating">
          <span>As Mentor:</span>
          <div class="star-container">
            <star-rating-comp [size]="'small'" [staticColor]="'default'" [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                  [rating]="currentUser.rating.mentor_average" style="float:left" disabled></star-rating-comp>
          </div>
          <span>({{ currentUser.rating.mentor_average }} rating(s))</span>
        </div>
        <div class="average-rating">
          <span>As Mentee:</span>
          <div class="star-container">
            <star-rating-comp [size]="'small'" [staticColor]="'default'" [starType]="'svg'" [showHalfStars]="true" [readOnly]="true"
                  [rating]="currentUser.rating.mentee_average" style="float:left" disabled></star-rating-comp>
          </div>
          <span>({{ currentUser.rating.mentee_average }} rating(s))</span>
        </div>
      </div>
      <div class="requests">
        <span>Total Requests: {{ currentUser.request_count }}</span>
      </div>
      <div class="sessions">
        <span>Mentorship Sessions: {{ currentUser.total_sessions}} </span>
      </div>
      <div class="hours">
        <span>Mentorship Hours Logged: {{ currentUser.logged_hours | number:'1.0-2' }}</span>
      </div>
      <div class="status">
        <span>Client status: {{ (!currentUser.placement) ? "Not Placed" : currentUser.placement.status }}</span>
      </div>
    </div>
  </div>
