<ng-content></ng-content>
<accordion [closeOthers]="false">
  <h4>Filter Results</h4>
  <accordion-group (onOpen)="toggleIcon(1)" (onClose)="toggleIcon(1)">
    <accordion-heading class="accordion-heading">
      <i class="material-icons">{{ icon1Name }}</i>Primary
    </accordion-heading>
    <md-checkbox color="primary" *ngFor="let skill of skills">{{skill.name}}</md-checkbox><br>
  </accordion-group>
  <accordion-group (onOpen)="toggleIcon(2)" (onClose)="toggleIcon(2)">
    <accordion-heading class="accordion-heading">
      <i class="material-icons">{{ icon2Name }}</i>Status
    </accordion-heading>
    <md-checkbox color="primary" *ngFor="let state of status">{{state}}</md-checkbox><br>
  </accordion-group>
</accordion>
<ng-content></ng-content>