.accordion {
  font-size: 14px;
}

.accordion-heading{
  display: flex;
  line-height: 24px;
}

h4.panel-title {
    margin-bottom: 8px;
}

.panel-collapse.collapse.in {
    margin-left: 36px !important;
}