<ng-content></ng-content>
<accordion [closeOthers]="true">
  <accordion *ngIf="currentPage === 'admin'">
    <accordion-group (onOpen)="toggleIcon(3)" (onClose)="toggleIcon(3)">
      <accordion-heading class="accordion-heading">
        <i class="material-icons">{{ icon3Name }}</i>Date
      </accordion-heading>
      <md-radio-group>
        <md-radio-button class="date-range" *ngFor="let range of dateRangeMap" (change)="setDateRange(dateRange[range])" value={{range}} [checked]="dateRange[range] == 0">{{ range }}</md-radio-button>
      </md-radio-group>
    </accordion-group>
  </accordion>
  <accordion *ngIf="currentPage === 'mentor'">
    <accordion-group (onOpen)="toggleIcon(3)" (onClose)="toggleIcon(3)">
      <accordion-heading class="accordion-heading">
        <i class="material-icons">{{ icon3Name }}</i>Primary
      </accordion-heading>
      <md-checkbox color="primary" *ngFor="let skill of skills" (change)="toggleSkill(skill.name)">{{ skill.name }}</md-checkbox><br>
    </accordion-group>
  </accordion>
  <accordion *ngIf="currentPage !== 'mentor'">
    <accordion-group (onOpen)="toggleIcon(1)" (onClose)="toggleIcon(1)">
      <accordion-heading class="accordion-heading">
        <i class="material-icons">{{ icon1Name }}</i>Primary Skills
      </accordion-heading>
      <md-checkbox color="primary" *ngFor="let skill of skills" (change)="toggleSkill(skill.name)">{{ skill.name }}</md-checkbox><br>
    </accordion-group>
  </accordion>
  <accordion [expandAll]="true"> <!-- TODO: use [expandAll]="currentPage==='the_page'" -->
    <accordion-group (onOpen)="toggleIcon(2)" (onClose)="toggleIcon(2)">
      <accordion-heading class="accordion-heading">
        <i class="material-icons">{{ icon2Name }}</i>Status
      </accordion-heading>
      <div *ngFor="let state of status">
        <div *ngIf="state === 'Open'">
          <md-checkbox color="primary" [checked]="autoFilterStatus" (change)="toggleStatus(state)">
            {{ state }}
          </md-checkbox>
        </div>
        <div *ngIf="state !== 'Open'">
          <md-checkbox color="primary" (change)="toggleStatus(state)">
            {{ state }}
          </md-checkbox>
        </div>
        <br>
      </div>
    </accordion-group>
  </accordion>
  <accordion>
    <accordion-group *ngIf="currentPage === 'mentor'" (onOpen)="toggleIcon(3)" (onClose)="toggleIcon(3)">
      <accordion-heading class="accordion-heading">
        <i class="material-icons">{{ icon3Name }}</i>Interested
      </accordion-heading>
      <md-checkbox color="primary" (change)="toggleInterest()">Yes</md-checkbox>
    </accordion-group>
  </accordion>
</accordion>
<ng-content></ng-content>
