<!-- Variable isOpen is  -->
<div #alert [ngClass]="{closed: isDeactivated}">
  <div class="alert-overlay" (click)="close()"></div>
  <div class="alert">
    <div class="body">
      <!-- variable message is inherited from AlertComponenent -->
      <span class="message">{{ message }}</span>
    </div>
    <div *ngIf="config.canDisable" class="deactivator">
      <input type="checkbox" (change)="toggleActivatedState()">Please do not show this in the future
    </div>
    <div class="footer">
      <div class="button-container">
        <button
          class="white-button"
          (click)="confirm()">
            {{config.confirmActionText}}
          </button>
        <!-- the close method is inhertied from Alertcomponent -->
        <button
          class="blue-button"
          (click)="close()">
            {{config.abortActionText}}
        </button>
      </div>
    </div>
  </div>
</div>
