<nav class="app-header">
  <div class="top-level-nav">
    <div class="logo">
      <a href="#">
        <img style="width:35px; height: auto;" src="../../../../assets/images/logo.png" alt="Logo">
      </a>
    </div>
    <div class="app-name">
      <h1>Lenken</h1>
    </div>
    <app-notification-bar></app-notification-bar>
    <div class="user-options-group">
      <button class="logoutTrigger" md-button [mdMenuTriggerFor]="menu"><span class="profile-name">{{ firstName }}</span><img src="{{ picture }}" alt="avatar" class="avatar"><i class="material-icons right">arrow_drop_down</i></button>
      <md-menu #menu="mdMenu">
        <button class="profile-menu" routerLink="/profile" md-menu-item>Profile</button>
        <button class="profile-menu" routerLink="/logout" md-menu-item>Logout</button>
      </md-menu>
    </div>
  </div>

  <!--Sub level Nav-->
  <div class="sub-level-nav">
    <div class="sub-menu-items">
      <a routerLink="/dashboard" routerLinkActive="active">Home</a>
      <a routerLink="/mentor" routerLinkActive="active">Offer Mentorship</a>
      <a routerLink="/mentee" routerLinkActive="active">My Requests</a>
      <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">See all Requests</a>
      <a *ngIf="isAdmin" routerLink="/report" routerLinkActive="active">Report</a>
    </div>
    <div id="btn-request-container">
      <button md-raised-button class="md-btn-andela-pink" routerLink='/requests'>REQUEST MENTOR</button>
    </div>
  </div>
</nav>
<div id="container">
  <ng-content></ng-content>
</div>
