  <nav class="app-header">
    <div class="top-level-nav">

        <div class="logo">
          <a href="#">
            <img style="width:35px; height: auto;" src="../../../../assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="app-name">
          <h1>Lenken</h1>
        </div>

        <div class="user-options-group">
          <div style="background-image: url('https://lh5.googleusercontent.com/-AEClvo9rM6Y/AAAAAAAAAAI/AAAAAAAAAAo/b8T3wMTvlKs/photo.jpg?sz=50')" alt="avatar" class="avatar"></div>
          <a class="activate-dropdown" href="#!" data-activates="menu-dropdown">
              <p>Kesiena</p>
              <i class="material-icons right">arrow_drop_down</i>
          </a>
          <ul id="menu-dropdown" class="dropdown-content">
              <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
    </div>
    <div class="sub-level-nav">
        <div class="sub-menu-items">
          <a class="active" href="#">Home</a>
          <a href="#">Mentor</a>
          <a href="#">Mentee</a>
        </div>
        <div id="btn-request-container">
          <button md-raised-button class="md-btn-andela-pink" routerLink='/requests'>REQUEST MENTOR</button>
        </div>
    </div>
  </nav>
  <div id="container">
    <ng-content></ng-content>
  </div>
