@import '../../../assets/scss/colors';
@import '../../../assets/scss/buttons';

div {
  text-align: center;
}

button {
  margin-right: 10px;
}

.main {
  padding: 10px 30px 30px 30px;
  max-width: 400px;
}

.header {
  color: $grey-light-400;
}

.sub-message {
  display: block;
  position: relative;
  top: -10px;
}