<div name="notifications">
  <div class="content-heading">
    <h2>Notifications</h2>
  </div>
  <p>To control which notifications you receive, use the checkboxes below</p>

  <!-- TABLE HEADER -->
  <div class="and-table-head-row">
    <div class="and-table-heading and-table-col-40">
      Send a notification when:
    </div>
    <div class="and-table-heading table-head and-table-col-20">
      Email
    </div>
    <div class="and-table-heading table-head and-table-col-20">
      Slack
    </div>
  </div>

  <!-- TABLE BODY -->
  <div class="and-table-row">
    <div class="and-table-content and-table-col-40">
      Someone indicates interest in my request
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
  </div>

  <div class="and-table-row">
    <div class="and-table-content and-table-col-40">
      Someone selects me as mentor
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
  </div>

  <div class="and-table-row">
    <div class="and-table-content and-table-col-40">
      Reminder to log session
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
  </div>

  <div class="and-table-row">
    <div class="and-table-content and-table-col-40">
      Weekly request report
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
    <div class="and-table-content and-table-col-20" id="table-content">
      <md-checkbox></md-checkbox>
    </div>
  </div>
   </div>
