@import '../../../../assets/scss/buttons';
@import '../../../../assets/scss/table';
@import '../../../../assets/scss/filter';
@import '../../../../assets/scss/loaders';

.content-heading {
  border-bottom: 1px #e1e4e8 solid;
}

.tbl-heading {
  padding-left: 20px;
  color: $table-row-text;
}

#table-content {
  margin-left: 25px;
}

.table-head {
    margin-left: 25px;
}

.and-table-notifications {
  width: 700px;
}
