<div name="notifications">
  <div class="content-heading">
    <h2>Notifications</h2>
  </div>
  <p>To control which notifications you receive, use the checkboxes below</p>

  <!-- TABLE HEADER -->
  <div class="and-table-head-row and-table-notifications">
    <div class="and-table-heading and-table-col-60">
      Send a notification when:
    </div>
    <div class="and-table-heading and-table-col-20">
      Email
    </div>
    <div class="and-table-heading and-table-col-20">
      Slack
    </div>
  </div>
  <div class="and-table-row" *ngFor="let setting of userSettings">
    <div class="and-table-content and-table-col-60" >
      {{ setting.id.replace(notificationRegex, ' ') | titlecase }}
    </div>
    <div class="and-table-content and-table-col-20">
      <md-checkbox [checked]="setting.email"
                   #email
                   (change)="updateUserSettings(
                   setting.id, {email: email.checked, slack: slack.checked}
                   )">

      </md-checkbox>
    </div>
    <div class="and-table-content and-table-col-20">
      <md-checkbox [checked]="setting.slack"
                   #slack
                   (change)="updateUserSettings(
                   setting.id, {email: email.checked, slack: slack.checked}
                   )">
      </md-checkbox>
    </div>
  </div>
   </div>
