@import '../../../assets/scss/colors';
@import '../../../assets/scss/buttons';
@import '../../../assets/scss/table';
@import '../../../assets/scss/filter';
@import '../../../assets/scss/loaders';

.settings-nav {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    height: auto;
    margin-right: 20px;
    box-sizing: border-box;
    border: 3px solid #ecedf2;
    border-radius: 3px;
}
 