<div class="confirm-session-modal" #confirmSessionModal>
  <div class="confirmation-details">
    <div class="confirmation-heading">
      <h4>Confirm Session</h4>
      <div class="underline"></div>
    </div>

    <div class="confirmation-body">
      <div class="session px-12 inline-block">
        <p class="session-title">Session started</p>
        <div class="session-time">{{startTime}}</div>
      </div>

      <div class="session px-12 inline-block">
        <p class="session-title">Session ended</p>
        <div class="session-time">{{endTime}}</div>
      </div>

      <div class="bullet-wrapper">
        <div class="bullet"></div>
        <p class="bullet-text">If this session didn’t last for {{hours}}, please reject the session</p>
      </div>


      <form class="comment" [formGroup]="confirmSessionForm" (ngSubmit)="confirmSession()">
        <div *ngIf="!userIsMentor; else mentee" class="form-group rating-wrapper">
          <p class="rating-heading">Rate the mentor in the following criteria</p>
          <p class="rating-type">
            <span class="availability">Availability</span>
            <star-rating-comp [starType]="'svg'" formControlName="availability"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="reliability">Reliability</span>
            <star-rating-comp [starType]="'svg'" formControlName="reliability"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="knowledge">Knowledge</span>
            <star-rating-comp [starType]="'svg'" formControlName="knowledge"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="teaching">Teaching</span>
            <star-rating-comp [starType]="'svg'" formControlName="teaching"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="usefulness">Usefulness</span>
            <star-rating-comp [starType]="'svg'" formControlName="usefulness"></star-rating-comp>
          </p>
        </div>

        <ng-template #mentee>
          <div class="form-group rating-wrapper">
          <p class="rating-heading">Rate your mentee in the following criteria</p>
          <p class="rating-type">
            <span class="attentiveness">Attentiveness</span>
            <star-rating-comp [starType]="'svg'" formControlName="attentiveness"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="ownership">Ownership</span>
            <star-rating-comp [starType]="'svg'" formControlName="ownership"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="punctuality">Punctuality</span>
            <star-rating-comp [starType]="'svg'" formControlName="punctuality"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="assignmentQuality">Assignment Quality</span>
            <star-rating-comp [starType]="'svg'" formControlName="assignmentQuality"></star-rating-comp>
          </p>
          <p class="rating-type">
            <span class="assignmentTimeliness">Assignment Timeliness </span>
            <star-rating-comp [starType]="'svg'" formControlName="assignmentTimeliness"></star-rating-comp>
          </p>
        </div>
        </ng-template>

        <p>Comment feedback (optional)</p>
        <input type="text" placeholder="Start Typing" name="comment" formControlName="comment">
        <button type="submit">Submit</button>
        <button type="button" (click)="confirmSessionRejection()">Reject</button>
      </form>
    </div>
  </div>
</div>
<div class="confirm-session-modal-bg"></div>
