@import '../../../assets/scss/buttons';

div {
    width: 450px;
    height: 120px;
}

md-dialog-actions {
    position: relative;
    margin: 0 auto;
    width: 50%;
}

button { 
  margin-right: 10px;
  width: 250px;
}

md-dialog-content > p {
   width: 370px;
   margin: 0.6em auto 3em auto;
}