<app-header>
  <div id="profile-container">

    <md-card>
      <div class="image-container">
        <div class="top"></div>
        <div class="profile-image" [ngStyle]="{'background-image': 'url(' + picture + ')'}"></div>
      </div>

      <md-card-footer class="md-footer" *ngIf="userData">
        <h4 class="username">{{ fullName }}</h4>
        <p class="level" *ngIf="userData.level">{{ userData.level.name }}</p>
        <p class="level" *ngIf="cohort">{{ cohort }}</p>

        <p class="center-text">Mentorship Hours Logged: {{ loggedHours | number:'1.0-2' }}<span *ngIf="!loggedHours">0</span></p>
        <p class="center-text" *ngIf="!userData.placement"><strong>Client status: </strong>Not Placed</p>
        <p class="center-text" *ngIf="userData.placement && userData.placement?.status"><strong>Client status: </strong> {{ userData.placement.status }} </p>

        <div class="skills">
          <h5 *ngIf="userData.skills.length">{{ skillsTitle }}</h5>
          <span *ngFor="let skill of userData.skills" class="chip">{{ skill.name }}</span>
        </div>
      </md-card-footer>

    </md-card>

  </div>
</app-header>
