<div>
  <div class = "request-description">
      {{ request.description }}
  </div>
  <div class="request-body">
    <div class="request-details">
       <div class= "mentee-name"><b>Request by - </b><span>{{ mentee.name }}
        </span>
        </div>
        <div class="star">
              <star-rating-comp
                [size] = "'medium'"
                [starType]="'svg'"
                [readOnly]="true"
                [rating]="mentee.rating"
                >
              </star-rating-comp>
       </div>
    </div>
      <div class="request-details"><b>Primary Skills - </b><span>{{ request.request_skills|requestSkill: 'primary' || 'None' }}</span></div>
      <div class="request-details"><b>Secondary Skills - </b><span>{{ request.request_skills|requestSkill: 'secondary' || 'None' }}</span></div>
      <div class="request-details"><b>Preffered Location - </b><span>{{ request.location || 'Anywhere' }}</span></div>
      <div class="request-details"><b>Proposed Duration - </b><span>{{ request|proposedRequestDuration }}</span></div>
  </div>
</div>
