.request-description {
  width: 880px;
  margin-top: 90px;
  margin-bottom: 18px;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: justify;
  color: #303030;
  margin-left: 0.8em;
}
.request-body {
  margin-top: 10px;
}
.request-details {
  width: 100%;
  height: 23px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #303030;
  margin-left: 0.8em;
  span {
        font-weight: normal;
        color: #747474;
      }
}

.star {
  position: relative;
  float: left;
  padding-left: 50px;
}

.mentee-name {
  position: relative;
  float: left;
}
