<div>
  <div class = "request-description">
      {{ request.description }}
  </div>
  <div class="request-body">
    <div class="request-details">
       <div class= "mentee-name"><b>Request by - </b><span>{{ mentee.name }}
        </span>
        </div>
        <div class="star">
              <star-rating-comp
                [size] = "'medium'"
                [starType]="'svg'"
                [readOnly]="true"
                [rating]="mentee.rating"
                >
              </star-rating-comp>
       </div>
    </div>
      <div class="request-details"><b>{{ request.request_type_id === requestTypes.MENTOR_REQUEST ? 'Complementary Skills -' : 'Pre-requisite Skills -' }} </b>
        <span>
          {{ request.request_skills|requestSkill: request.request_type_id === requestTypes.MENTOR_REQUEST ? 'secondary' : 'preRequisite' }}
        </span>
      </div>
      <div class="request-details"><b>Preffered Location - </b><span>{{ request.location || 'Anywhere' }}</span></div>
      <div class="request-details"><b>Proposed Duration - </b><span>{{ request|proposedRequestDuration }}</span></div>
  </div>
</div>
