<app-header>
  <div id="app-container">
    <div class="app-partial-outlet">
      <div class="and-list-filter-container">
        <div class="and-filter">
          <app-filters [filtersObject]="adminFilters" (onChecked)="adminFilter($event)"></app-filters>
        </div>
        <div class="and-list">
          <div *ngIf="loading" class="loader">
            <md-spinner></md-spinner>
          </div>
          <md-card *ngFor="let request of (allRequests | skillsFilter: filteredSkills | statusFilter: checkedStatuses | dateRangeFilter: dateRange)"
            routerLink="/requests/{{request.id}}">
            <md-card-header class="card-header">
              <span class="status small-7" [ngClass]="getStatusClass(request.status)">{{ request.status }}</span>
              <span class="date-created small-7">Requested <strong>{{ request.created_at | amTimeAgo }}</strong></span>
            </md-card-header>
            <md-card-content class="card-content">
              <h2><strong>{{ request.title }}</strong></h2>
              <h5 class="request-detail">Requested by <span class="bold-black">{{ getName(request.mentee_email) }}</span> and has
                <span *ngIf="request.match_date">been matched to <span class="bold-black">{{ getName(request.mentor_email) }}</span> as a mentor</span>
                <span *ngIf="!request.match_date">
                <span *ngIf="request.interested">{{ request.interested.length }}</span>
                <span *ngIf="!request.interested">No </span> interested mentors.</span></h5>
              <p>{{ request.description }}</p>
            </md-card-content>
            <div class="skill-list">
              <span class="chip" *ngFor="let skill of helper.extractSkills(request.request_skills, 'primary')">{{ skill }}</span>
            </div>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</app-header>
