<div id="wrapper">
  <div class="logo">
    <img src="../../../../assets/images/andela-master-condensed-mark-reversed.png" srcset="../../../../assets/images/andela-master-condensed-mark-reversed@2x.png 2x,
            ../../../../assets/images/landing-page/andela-master-condensed-mark-reversed@3x.png 3x">
    <span class="text">Lenken</span>
  </div>

  <div class="page-intro">
    <p class="tagline">
      Every human being is a learning resource
    </p>
    <a href="{{ redirectUrl }}">
      <img src="../../../../assets/images/button.png" srcset="../../../../assets/images/button@2x.png 2x,
      ../../../../assets/images/landing-page/button@3x.png 3x" class="sign-in-button">
    </a>
  </div>
  <div id="flash-message" *ngIf="message">
    <p>
    <span>{{ message }}</span>
    </p>
  </div>
</div>
