@import '../../../../assets/scss/colors';

body {
  background: $andela-blue;
  font-family: Roboto;
  padding: 1rem;
}

#wrapper {
  position: relative;
  background: $andela-blue;
  width: 100vw;
  height: 100vh;
  font-family: Roboto;
}

div.header {
  position: relative;
  display: block;
  height: 50px;
  padding: 2rem;
}

.header div, .header img {
  float: left;
}

h5 {
  font-size: 26px;
  line-height: 110%;
  color: #fff;
  position: absolute;
  display: inline-block;
  font-weight: 300;
  float: left;
  padding: 0;
  margin: 0 10px 0 10px;
}

#main-content {
  top: 35%;
  position: absolute;
  left: 50%;
  width: 240px;
  height: 130px;
  margin-left: -120px;
  margin-top: -106px;
}

#main-content a {
  display: flex;
  height: 45px;
  background: white;
  flex-direction: row;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

span.login-icon {
  display: inline-block;
  width: 56px;
  padding: 0.3rem;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #b3b3b3;
}

span.image {
  display: inline-block;
  background-image: url('../../../../assets/images/logo-g.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  width: 100%;
  height: 100%;
}

div.login-icon {
  display: inline-block;
  float: left;
  height: 40px;
  border-right: 1px solid #9a9a9a;
  padding-left: 8px;
  padding-right: 8px;
}

.login-icon img {
  width: 24px;
  margin: 8px;
}

span.login-text {
  display: flex;
  height: 100%;
  line-height: 1;
  padding: .8rem;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
  flex: 1;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
}

span {
  font-size: 11px;
  color: #666;
}

#flash-message {
  top: 60%;
  position: absolute;
  width: 100%;
}

#flash-message p {
  text-align: center;
}

#flash-message p span {
  background: rgba(0, 0, 0, 0.3);
  padding: 2em;
  font-size: 0.8em;
  text-align: center;
  color: #fefefe;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6)
}

