<div *ngIf="session" class="card">
  <div class="header">
    <span class="card-header">{{formatSessionDate(session.date)}}
      <hr [ngClass]="{'indicator-inactive': sessionIsDisabled,
      'indicator-active': (sessionIsEnabled || sessionNeedsConfirmation)}">
    </span>
    <div>
      <button *ngIf="showAddFileButton" class="add-file" (click)="openAddFileModal(session)">Add file</button>
      <button
        *ngIf="(sessionIsDisabled || sessionIsEnabled) && showLogSessionButton"
        class="log-session"
        [ngClass]="{'active': sessionIsEnabled, 'inactive': sessionIsDisabled}"
        [disabled]="sessionIsDisabled"
        (click)="openSessionModal()">Log Session</button>
      <button *ngIf="sessionNeedsConfirmation && showConfirmSessionButton"
              class="confirm-session">Confirm Session</button>
    </div>
  </div>
  <div class="card-body" *ngIf="session.files.length > 0">
    <div class="file" *ngFor="let file of session.files">
      <p class="file-time">{{file.created_at|date:'shortTime'}}</p>
      <p class="name">{{file.name}}</p>
      <a class="file-name" (click)=downloadFile(file.id)>
        <img src="../../../../assets/images/link.svg">
        {{file.name}}
      </a>
      <a class="download" (click)=downloadFile(file.id)>
        <span class="icon">
          <img src="../../../../assets/images/download.svg">
          Download
        </span>
      </a>
      <a class="delete" (click)="deleteFile(session, file)">
        <span class="icon">
          <img src="../../../../assets/images/trash.svg">
          Delete
        </span>
      </a>
    </div>
  </div>
</div>
<app-add-file-modal *ngIf="openFileModal"
                    (closeFileModal)="closeAddFileModal()"
                    [sessionId]="sessionId"
                    [requestId]="request.id"
                    [sessionDate]="session.date"
                    (modifiedSession)="updateSession($event)">
</app-add-file-modal>
