<ul>
  <li class="dropdown" (mouseleave)="showDropDownContent = false">
    <button (click)="showDropDownContent = !showDropDownContent" type="button" class="request-option"
            [ngStyle]="{'border': isEmptyBasicSkills ? '1px solid red' : '1px solid #e9eff4'}"
            [disabled]="disabled">
      {{ defaultValue }} <i>{{ skillsLength }}/3</i>
    </button>
    <div *ngIf="showDropDownContent" class="request-content common-dropdown-styles">
      <p *ngIf="showSkillsMessage" class="skills-message">{{ skillsMessage }}</p>
      <a *ngFor="let item of list" (click)="setSelectedValue(item)">{{ item }}</a>
    </div>
  </li>
</ul>
