@import "../../../../assets/scss/fonts";
@import "../../../../assets/scss/colors";
@import "../../../../assets/scss/loaders";
@import "../../../../assets/scss/table";

$table-width: 100%;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
