<div class="modal-container">
    <div #pendingModal class="modal">
        <div class="holder">
            <div class="modal-heading">
                Request for {{ request.title }} {{ request.request_type_id === requestTypes.MENTEE_REQUEST ? "Mentee" : "Mentor"}}            
                <hr class="underline">
                <button *ngIf="this.request.created_by.id == this.currentUserId" class="button delete" (click)="openCancelRequestModal(request)">CANCEL</button>
                <button *ngIf="this.request.created_by.id !== this.currentUserId" class="button delete" (click)="confirmWithdrawInterest(request)">WITHDRAW REQUEST</button>
            </div>
            <div class="modal-content">
                <div class="request-description">
                    <p>{{ request.description }}</p>
                </div>
                <div class="request-details">
                    <ul>
                        <li>
                            <strong>Request by</strong> -
                            <span>{{ requestedBy }}
                                <span class="rating-stars">
                                    <star-rating-comp
                                        [starType]="'svg'"
                                        [rating]="rating"
                                        [staticColor]="'default'"
                                        [readOnly]="true"></star-rating-comp>
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong>{{ request.request_type_id === requestTypes.MENTOR_REQUEST ? 'Complementary Skills' : 'Pre-Requisite Skills' }}</strong> -
                            <span>{{ request.request_skills|requestSkill: request.request_type_id === requestTypes.MENTOR_REQUEST ? 'secondary' : 'preRequisite' }}</span>
                        </li>
                        <li>
                            <strong>Preferred Location</strong> -
                            <span>{{ mentee ? mentee.location : 'Anywhere' }}</span>
                        </li>
                        <li>
                            <strong>Proposed Duration</strong> -
                            <span>{{ request|proposedRequestDuration }}</span>
                        </li>
                    </ul>
                </div>
                <div *ngIf="interestedUsers" class="interested">
                    <div class="table">
                        <div *ngFor="let user of interestedUsers" class="body">
                            <div class="row">
                                <div> {{ user.name }}
                                    <span class="rating-stars">
                                        <star-rating-comp
                                            [staticColor]="'default'"
                                            [starType]="'svg'"
                                            [rating]="user.rating.cumulative_average"
                                            [readOnly]="true">
                                        </star-rating-comp>
                                    </span>
                                </div>
                                <div>{{ user.skills }}</div>
                                <div (click)="confirmAcceptInterestedUser(user)" class="choice">Accept
                                    <span class="icon accept-icon"></span>
                                </div>
                                <div (click)="confirmRejectInterestedUser(user)" class="choice">Reject
                                    <span class="icon reject-icon"></span>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cancel-request-modal *ngIf="showCancelRequestModal" #cancelRequestModal
[request]="requestToCancel" (closeCancelRequestModal)="closeModal($event)">
</app-cancel-request-modal>
