@import '../request-pool';

$table-width: 100%;

.request-details {
  margin-top: 30px;
  margin-bottom: 40px;
  ul {
    display: inline-block;
    padding-left: 0;
    li {
      list-style-type: none;
      span {
        color: #747474;
      }
    }
  }
}

.table {
  width: $table-width;
  .body .row {
    div {
      width: auto;
    }
    .choice {
      cursor: pointer;
      width: 100px;
      overflow: hidden;

      .icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        background-size: cover;

        &.accept-icon{
          background: url('./../../../../assets/images/tick-circle-icon.svg');
          width: 20px;
          height: 20px;
        }

        &.reject-icon{
          background: url('./../../../../assets/images/close-circle-icon.svg');
          width: 20px;
          height: 20px;
        }
      }
      &:hover {
        background-color: #eaeaea !important;
      }
    }
  }
}

.button {
  position: absolute;
  float: right;
  right: 7.5%;
  &.delete {
    top: 10%;
  }
  &.cancel {
    bottom: 10%;
  }
  &:hover {
    background-color: $andela-blue;
    color: #fff;
  }
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
}
