<div class="modal-container">
    <div #pendingModal class="modal">
        <div class="holder">
            <div class="modal-heading">
                <h4 class="title"> {{ request.title }} MENTOR</h4>
                <div class="underline"></div>
                <button *ngIf="this.request.mentee_id == this.currentUserId" class="button delete" (click)="openCancelRequestModal(request)">CANCEL</button>
                <button *ngIf="this.request.mentee_id !== this.currentUserId" class="button delete" (click)="confirmWithdrawInterest(request)">WITHDRAW INTEREST</button>
            </div>
            <div class="modal-content">
                <div class="request-description">
                    <p>{{ request.description }}</p>
                </div>
                <div class="request-details">
                    <ul>
                        <li>
                            <strong>Request by</strong> -
                            <span>{{ mentee ? mentee.name : null }}
                                <span class="rating-stars">
                                    <star-rating-comp
                                        [starType]="'svg'"
                                        [rating]="mentee ? mentee.rating : 0"
                                        [staticColor]="'default'"
                                        [readOnly]="true"></star-rating-comp>
                                </span>
                            </span>
                        </li>
                        <li>
                            <strong>Primary Skills</strong> -
                            <span>{{ request.primarySkills }}</span>
                        </li>
                        <li>
                            <strong>Secondary Skills</strong> -
                            <span>{{ request.secondarySkills }}</span>
                        </li>
                        <li>
                            <strong>Preferred Location</strong> -
                            <span>{{ mentee ? mentee.location : null }}</span>
                        </li>
                        <li>
                            <strong>Proposed Duration</strong> -
                            <span>{{ request.duration }} ({{ request.pairingDays }})</span>
                        </li>
                    </ul>
                </div>
                <div *ngIf="mentors" class="interested">
                    <div class="table">
                        <div *ngFor="let mentor of mentors" class="body">
                            <div class="row">
                                <div> {{ mentor.name }}
                                    <span class="rating-stars">
                                        <star-rating-comp
                                            [staticColor]="'default'"
                                            [starType]="'svg'"
                                            [rating]="mentor.rating"
                                            [readOnly]="true">
                                        </star-rating-comp>
                                    </span>
                                </div>
                                <div>{{ mentor.skills }}</div>
                                <div (click)="confirmAcceptMentor(mentor)" class="choice">Accept
                                    <span class="icon accept-icon"></span>
                                </div>
                                <div (click)="confirmRejectMentor(mentor)" class="choice">Reject
                                    <span class="icon reject-icon"></span>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cancel-request-modal *ngIf="showCancelRequestModal" #cancelRequestModal
[request]="requestToCancel" (closeCancelRequestModal)="closeModal($event)">
</app-cancel-request-modal>
