@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/loaders';
@import '../../../../assets/scss/side-info';
@import '../../../../assets/scss/fonts';

.chart-area {
  width: 100%;
  position: relative;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);
  margin-top: 20px;
  margin-bottom: 20px;

  .chart {
    border-radius: 2%;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.03);

    .chart-header {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
      font-size: 18px;
      padding: 25px 0;
      padding-left: 30px;
    }

    #bar-chart {
      padding: 30px;
      padding-bottom: 20px;
      box-sizing: border-box;
      font-family: 'DINPro' !important;
    }
  }
}
