@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/loaders';

$table-width:100%;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $primary-background-color;
}

body {
  font-family: $font-family-1;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Structure */
.wrapper {
  width: 100%;
  margin: auto;
  background: $primary-background-color;
  overflow: hidden;
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}

/*******************************************************************************************************************************
                                             SECTION
********************************************************************************************************************************/

#section-grid {
  width: 74%;
  min-height: 91.35vh;
  overflow-y: scroll;
  padding: 35px 30px 5px;
  float: left;
  margin-left: 6em;
  margin-top: 4em;
}

section {
  background-color: $primary-background-color;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  .header {
    color: $header-text-color;
    font-size: 14px;
    display: table-header-group;

    .row {
      display: table-row;
      color: $primary-text-color;
      div {
        border-bottom: 1px solid #e0e0e0;
        display: table-cell;
        padding-left: 2%;
        padding-bottom: 15px;
        width: 16.67%;
      }
    }
  }

  .body {
    display: table-row-group;
    color: $primary-text-color;
    font-size: 13px;
    .row {
      display: table-row;
      color: #2f2f2f;
      border: solid 1px #dddddd;
      div {
        background-color: #f9f9f9;
        border-radius: 2px;
        padding-left: 2%;
        width: 16.67%;
        height: 48px;
        vertical-align: middle;
        display: table-cell;
        cursor: pointer;
        max-width: 1px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .space {
    height: 10px;
  }
}

/*******************************************************************************************************************************
                                             TITLE
********************************************************************************************************************************/

.title {
  color: $andela-blue;
  font-weight: bold;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.title:after {
  content: "";
  margin-top: 15px;
  float: left;
  background: $andela-blue;
  width: 50%;
  max-width: 70px;
  height: 6px;
  border-radius: 3px;
}

/*******************************************************************************************************************************
                                             MODAL
********************************************************************************************************************************/

.modal-container {
  display: block;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 20vw;
  padding-top: 20vh;

  .modal {
    margin: 0 auto;
    font-family: $font-family-1;
    box-sizing: content-box;
    position: fixed;
    z-index: 2;
    width: 60%;
    min-height: 40%;
    max-height: 60%;
    height: auto;
    top: 13%;
    left: 15%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 40px 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
    overflow-y: auto;

    .modal-heading {
      font-family: $font-family-1;
      font-weight: 500;
      line-height: 1.4;
      text-align: left;
      color: #3359db;
    }

    .modal-content {
      margin-top: 30px;
      line-height: 25px;
  }

   &::-webkit-scrollbar {
      width: 0 !important
    }
  }
}

/*******************************************************************************************************************************
                                             BUTTON
********************************************************************************************************************************/

.button {
    border-radius: 0;
    height: 35px;
    width: auto;
    background: none;
    color: $andela-blue;
    border: 1px solid $andela-blue;
    font-size: 1em;
    padding: 5px 30px 5px 30px;
    outline: none;
    &:active {
        transform: scale(0.95);
    }
}

/*******************************************************************************************************************************
                                             RATING
********************************************************************************************************************************/


.rating.color-default .star-container .star {

  svg {
    fill: #3359db;
  }

  i {
    color: #3359db;
  }
}

.star-container {
  z-index: 0;
}

.rating.color-ok .star-container .star svg {
  fill: #3259db;
}

.rating.color-negative .star-container .star svg {
  fill: #3259db;
}


@media only screen and (max-width: 1210px) {
  #section-grid {
    width: 70%;
  }
}

@media only screen and (max-width: 900px) {
  #section-grid {
    width: 65%;
    padding: 35px 0px 5px 0px;
  }
}
