<app-header>
    <h2>Request For A Mentor</h2>
    <form [formGroup]="form" (ngSubmit)="requestMentor(form)" novalidate>
            <div>Required Skills</div>
                <ng-select class="inputHeader"
                        [options]="options1"
                        [multiple]="multiple1"
                        formControlName="requiredSkills"
                        (opened)="onMultipleOpened()"
                        (closed)="onMultipleClosed()"
                        (selected)="onMultipleSelected($event)"
                        (deselected)="onMultipleDeselected($event)">
                </ng-select>
            <div>Other Skills</div>
                <ng-select
                        [options]="options1"
                        [multiple]="multiple1"
                        formControlName="otherSkills"
                        (opened)="onMultipleOpened()"
                        (closed)="onMultipleClosed()"
                        (selected)="onMultipleSelected($event)"
                        (deselected)="onMultipleDeselected($event)">
                </ng-select>
            <div>Length of Mentorship Month(s)</div>
                <ng-select
                    [options]="options0"
                    [multiple]="multiple0"
                    formControlName="lengthOfMentorship"
                    [allowClear]="true"
                    (opened)="onSingleOpened()"
                    (closed)="onSingleClosed()"
                    (selected)="onSingleSelected($event)"
                    (deselected)="onSingleDeselected($event)">
	            </ng-select>
            <div layout="row" class="pairingTime">Pairing Time</div>

                <label class="start-time">Start</label>
                <input formControlName="timeControlStart" class="timePicker" type="time">
                <label>End</label>
                <input formControlName="timeControlEnd" class="timePicker" type="time">
                <label>TimeZone</label>
                <select formControlName="timeZone" id="timezone">
                    <option>WAT</option>
                    <option>EAT</option>
                </select>
                <label>Monday</label>
                <input formControlName="day" type="checkbox">
                <label>Tuesday</label>
                <input formControlName="day" type="checkbox">
                <label>Wednesday</label>
                <input formControlName="day" type="checkbox">
                <label>Thursday</label>
                <input formControlName="day" type="checkbox">
                <label>Friday</label>
                <input formControlName="day" type="checkbox">
            <div></div>
                <md-input-container class="example-full-width">
                    <textarea formControlName="description" mdInput placeholder="Description" class ="requestText"></textarea>
                </md-input-container>
            <div id="btn-request-container">
                <button md-raised-button type="submit" class="submit">Send Request</button>
            </div>
    </form>
</app-header>
