<div id="wrapper">
    <div class="header">
        <div>
            <img src="../../assets/images/logo.png" width="32">
        </div>
        <h5>Andela</h5>
    </div>
    <div id="main-content">
        <h1>Lenken</h1>
        <a href="https://api-staging.andela.com/login?redirect_url=http://lenken-staging.andela.com/dashboard" class="login-button">
            <span class="login-icon" >
                <span class="image" ></span>
            </span>
            <span class="login-text">
                <span href="#" >sign in to get started</span>
            </span>
        </a>
    </div>
    <div id="flash-message" *ngIf="message">
        <p><span>{{ message }}</span></p>
    </div>
</div>
