<app-header>
  <div class="container">
    <app-request-detail
        [details]="details"
        [mentorDetails]="mentorDetails"
        [menteeDetails]="menteeDetails"
        [actionButtons]="actionButtons"
        [loading]="loading"
        [hasAlreadyIndicatedInterest]="hasAlreadyIndicatedInterest"
        (buttonClickEmitter)="indicateInterest(details)"
      >
      </app-request-detail>
  </div>
  <div *ngIf="details.status === 'matched' && details.mentor_id === userId">
    <app-sessions
    [loading]="loading"
    [updater]="updater"
    [sessions]="sessions"
    [details]="details"
    [sessionDetails]="sessionDetails"
    (logSession)="openLogSessionDialog()"
    (approveSession)="approveSession($event)"
    ></app-sessions>
  </div>
</app-header>
