@import '../../../assets/scss/chips';
@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';
@import '../../../assets/scss/buttons';
@import '../../../assets/scss/loaders';

.container {
  margin: 0px auto;
}

.mentor-list-container {
  width: 100%;
  margin-top: 1.5rem;
}

.mentor-list-container {
  md-card {
    height: 100px;
    width: 100%;
    @include box-sizing();
    padding: 12px 20px 0 20px;
    display: inline-block;
  }
}

.mentor-avatar {
  height: 70px;
  width: 70px;
  line-height:70px; 
  border-radius: 50%;
  border: 3px solid #e8e8e8;
  float: left;
}

.mentor-info {
  float: right;
  width: 150px;
}

.mentor-name {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.list-span {
  width: 100%;
  display: flex;
  flex-direction: column 
}

.item {
  order: 1;
}

.interested {
  width: 100%;
}

/*
 * Tablet (min-width: 769px)
 */
@media screen and (min-width: 769px) {

  .mentor-list-container {
    width: 100%;
  }

  md-card {
    margin-right: 2rem;
  }

  .list-span {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .mentor-list-container {
    md-card {
      height: 100px;
      width: 280px;
      @include box-sizing();
    }
  }
}

/*
 * Desktop (min-width: 1025px)
 */
@media screen and (min-width: 1025px) {
  .container {
    width: 100%;
  }
}