<app-header>
  <div class="container" id="app-container">
    <div>
      <app-request-detail
        [details]="details"
        [userId]="userId"
        [mentorDetails]="mentorDetails"
        [menteeDetails]="menteeDetails"
        [actionButtons]="actionButtons"
        [loading]="loading"
        [hasAlreadyIndicatedInterest]="hasAlreadyIndicatedInterest"
        (buttonClickEmitter)="callButtonAction($event)"
      >
      </app-request-detail>
    </div>
    <div class="mentor-list-container" *ngIf="canViewInterested">
      <div class="interested">
        <h2>Interested Mentors</h2>
      </div>
      <span class="list-span">
        <md-card class="item" *ngFor="let mentor of interestedMentors">
          <img src="{{ mentor.picture }}" alt="{{ mentor.name }}" class="mentor-avatar">
          <div class="mentor-info">
            <a class="profile-menu" routerLink="/profile" [queryParams]="{ id: mentor.id }">
              <span class="mentor-name">{{ mentor.name }}</span>
            </a>
            <button
            [disabled]="loading.selectMentor"
            md-raised-button class="md-btn-andela-pink"
            *ngIf="details.mentee_id === userId && details.status === 'open'"
            (click)="openModal(mentor)">
              Select Mentor
              <md-spinner *ngIf="currentMentorButton === mentor.name && loading.selectMentor"></md-spinner>
            </button>
          </div>
        </md-card>
      </span>
    </div>
    <div *ngIf="(details.status === 'matched' && details.mentee_id === userId) || (details.status === 'matched' && details.mentor_id === userId)">
      <app-sessions
      [loading]="loading"
      [updater]="updater"
      [sessions]="sessions"
      [details]="details"
      [sessionDetails]="sessionDetails"
      (logSession)="openLogSessionDialog()"
      (approveSession)="approveSession($event)"
      (rejectSession)="rejectSession($event)"
      >
      </app-sessions>
    </div>
  </div>
</app-header>
