@import "../request-pool";
@import "../../../../assets/scss/fonts";
@import "../../../../assets/scss/_colors";

.modal-container {
  .modal {
    width: 36%;
    top: 18%;
    padding: 60px 40px 40px 60px;
    margin: auto;
    left: 0;
    right: 0;
    .modal-content {
      margin-top: 30px;
      line-height: 25px;
    }
  }
}

.file-input {
  visibility: hidden;
}

.title {
  text-transform: none;
}

.title::after {
  width: 65%;
}

.form-group {
  margin-bottom: 2%;

  & > label {
    display: block;
    font-family: $font-family-1;
    font-size: 0.8em;
    text-align: left;
    color: $black;
    margin-bottom: 1%;
    clear: both;
  }

  & > input {
    display: inline-block;
    height: 45px;
    width: 300px;
    border-radius: 4px;
    background-color: $white;
    border: solid 1px $grey-light-500;
    padding-left: 2em;
  }
}

::placeholder {
  color: rgba(50, 60, 71, 0.3);
}

.modal-footer {
  width: inherit;
  bottom: 0;

  input[type="button"] {
    all: unset;
    width: 130px;
    height: 44px;
    border: solid 1px $andela-blue;
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: $andela-blue;
    margin-right: 10px;
    cursor: pointer;
  }

  input[type="submit"] {
    all: unset;
    width: 130px;
    height: 44px;
    border: solid 1px $andela-blue;
    background-color: $andela-blue;
    font-family: $font-family-1;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  .button-group {
    all: unset;
    margin-top: 70px;
    float: right;
  }
}

.upload-file-area {
  margin-top: 20px;
  height: 87px;
  border-radius: 6px;
  background-color: $white;
  border: dashed 1px $andela-blue;
  text-align: center;
  cursor: pointer;
}

.upload-information {
  display: inline-block;
  margin-top: 30px;
  font-family: $font-family-1;
  font-size: 11px;
  letter-spacing: -0.1px;
  color: $andela-blue;
}

.uploaded-file-name {
  display: inline-flex;
  margin-top: 15px;
  font-family: $font-family-1;
  font-size: 12px;
  font-weight: 500;
  align-content: center;
  color: #323c47;
}

.remove-file {
  display: -webkit-inline-box;
  text-decoration: none;
  width: 36px;
  height: 12px;
  font-family: $font-family-1;
  font-size: 10px;
  font-weight: 500;
  text-align: left;
  color: $grey-light-400;
  margin-left: 5px;
  padding-top: 2px;
}

.remove-file:hover {
  cursor: pointer;
}

.file-name {
  text-align: center;
  height: 15px;
  font-family: $font-family-1;
  font-size: 12px;
  font-weight: 500;
  color: $black;
  margin-top: 5px;
}

.upload-icon-svg {
  margin-right: 5px;
}

.file-icon-svg {
  margin-top: 5px;
  margin-right: 10px;
}

.loader-bar {
  margin-bottom: 0px;
  width: 100%;
  height: 5px;
  border: 1px solid $file-loader-bar;
  border-radius: 3px;
  background-image: repeating-linear-gradient(
    -45deg,
    $file-linear-gradient,
    $file-linear-gradient 11px,
    $white 10px,
    $white 20px
  );
  background-size: 28px 28px;
  animation: move 0.5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
