<div class="row">
  <div class="title-column">
    <h3 class="skill-requests-title">{{skillName}} REQUESTS</h3>
    <hr class="indicator-active">
  </div>
  <div class="button-column">
    <app-export-button
      class="export-button"
      (click)="exportSkillRequestsToCSV()">
    </app-export-button>
  </div>
</div>
<div *ngIf="loadingRequests || skillRequests?.length > 0; else noRequest">
  <div class="skill-request-header-wrapper">
    <div *ngIf="!rerender" class="custom-row header">
      <div class="custom-col-2">
        <span
        (click)="sortSkillRequestsByHeader('createdBy')"
        >Created by
          <img
            appSetRequestHeaderIcon
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'createdBy'"
            src="../../../../assets/images/sort-a-z-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortSkillRequestsByHeader('dateAdded', true)"
        >Date Added
            <img
              appSetRequestHeaderIcon
              [showAlphabeticIcon]="false"
              [sortCategoryValues]="sortCategoryValues"
              [activeSortCategory]="activeSortCategory"
              [headerName]="'dateAdded'"
              src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortSkillRequestsByHeader('duration')"
        >Duration
          <img
            appSetRequestHeaderIcon
            [showAlphabeticIcon]="false"
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'duration'"
            src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortSkillRequestsByHeader('location')"
        >Location
        <img
          appSetRequestHeaderIcon
          [showAlphabeticIcon]="true"
          [sortCategoryValues]="sortCategoryValues"
          [activeSortCategory]="activeSortCategory"
          [headerName]="'location'"
          src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
        (click)="sortSkillRequestsByHeader('sessionCount')"
        >Number of Sessions
          <img
            appSetRequestHeaderIcon
            [showAlphabeticIcon]="false"
            [sortCategoryValues]="sortCategoryValues"
            [activeSortCategory]="activeSortCategory"
            [headerName]="'sessionCount'"
            src="../../../../assets/images/sort-desc-inactive.png" />
        </span>
      </div>
      <div class="custom-col-2">
        <span
          (click)="sortSkillRequestsByHeader('status')"
          >Status
            <img
              appSetRequestHeaderIcon
              [sortCategoryValues]="sortCategoryValues"
              [activeSortCategory]="activeSortCategory"
              [headerName]="'status'"
              src="../../../../assets/images/sort-a-z-inactive.png" />
          </span>
      </div>
    </div>
  </div>

  <div class="skill-table">
    <div class="skill-body">
        <div *ngIf="loadingRequests" class="loader"></div>
      <a *ngFor="let request of skillRequests" class="body-content custom-row">
        <div class="custom-col-2">{{request.createdBy}}</div>
        <div class="custom-col-2">{{request.dateAdded | date: 'longDate'}}</div>
        <div class="custom-col-2">{{request.duration | requestDuration}}</div>
        <div class="custom-col-2">{{request.location}}</div>
        <div class="custom-col-2">{{request.sessionCount}}</div>
        <div class="custom-col-2">{{request.status | requestStatus}}</div>
      </a>
      <div class="space"></div>
    </div>
  </div>
</div>

<ng-template #noRequest>
  <div>
    <app-no-result></app-no-result>
  </div>
</ng-template>
