@import '../../../assets/scss/colors';
@import '../dialog-modal/dialog-modal.component.scss';

.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 78vh;
  overflow: visible;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 20%;
  overflow: hidden;
}

md-spinner {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 10px
}
