$andela-blue : #3259db;
$andela-blue-dark-100: #3154D5;
$andela-blue-darker: #1735AD;
$andela-secondary: #e91e63;
// grey-scale

// general
$black: #000000;
$white: #ffffff;
$green: #73D278;
// request pool specific
$primary-background-color : #f1f2f3;
$header-text-color : #91979f;
$primary-text-color : #747474;
