/*******************************************************************************************************************************

                                             HEADER

********************************************************************************************************************************/
@import 'fonts';
@import 'colors';

.header-grid {
  width: 100vw;
  height: 4em;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  ul {
    display: flex;
    justify-content: flex-end;
    width: 98%;
    height: 100%;
    list-style-type: none;
    a {
      margin-right: 2%;
    }
    li {
      position: relative;
      top: 20%;
      margin-right: 2%;
    }
    .notification {
      top: 35%;
    }
    .user-icon {
      top: 30%;
    }
    .caret-spacing {
      top: 35%;
      margin-left: -15px;
    }
  }
}

.spacer {
  margin-top: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #E4DEDE;
}

.img-circular {
  background-size: cover;
  display: block;
}

.select-style {
  border: none;
  width: 160px;
  overflow: hidden;
  background: $andela-blue url("../images/caret.svg") no-repeat 90% 50%;
  background-size: 18px;
  height: 60%;
  text-align: center;
  select {
    padding-left: 10%;
    padding-top: 7%;
    font-size: 15px;
    width: 130%;
    color: white;
    border: none;
    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
}

.search {
  padding: 10px;
  height: 32px;
  width: 224px;
  margin-top: 5px;
  background: url(../images/search.png) no-repeat scroll 130px 2px;
  background-position: 93% 50%;
  padding-left: 30px;
  border-width: 1px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  &:focus {
    outline: none;
  }
}
