/*******************************************************************************************************************************

                                             NAVBAR

********************************************************************************************************************************/
@import 'fonts';
@import 'colors';

#nav-grid {
  width: 6.5%;
  min-width: 4.5rem;
  float: left;
  min-height: 100vh;
  text-align: center;
  background-color: $white;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;

  li {
    color: #747474;
    border: 5.2px solid transparent;
    p {
      margin: 0;
    }
  }

  .nav-icons {
    padding-bottom: 40px;
    padding-top: 40px;
    height: 64px;
    margin-bottom: 30px;
  }

  .nav-home-icon {
    padding: 40px 0 100px 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
  }
}

/* Placeholder selectors */
%section-img {
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

%nav-hover {
  border-left-style: solid;
  border-left-width: 5.2px;
  border-left-color: $andela-blue;
  color: $andela-blue;
}

%nav-icons {
  @extend %section-img;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}

/* End placeholder selectors */
#pool {
  @extend %nav-icons;
  background-image: url('../images/arrow-in-down-384.svg');
  background-size: 40px;
  &:hover {
    @extend %nav-hover;
    background-image: url('../images/arrow-in-down-384.png');
    color: $andela-blue;
  }
}

li#pool.nav-icons.section-img.active {
  height: 40px;
  background-image: url('../images/arrow-in-down-384.png');
  background-size: 40px;
  border-left-style: solid;
  border-left-width: 5.2px;
  border-left-color: $andela-blue;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: $andela-blue;
}

#pending {
  @extend %nav-icons;
  background-image: url('../images/ic-access-time-48-px.png');
  &:hover {
    @extend %nav-hover;
    background-image: url('../images/clock-icon.svg');
    background-size: 40px;
  }
}

#progress {
  @extend %nav-icons;
  background-image: url('../images/ic-domain-24-px.png');
  &:hover {
    @extend %nav-hover;
    background-image: url('../images/ic-domain-24-px.png');
  }
}

#history {
  @extend %nav-icons;
  background-image: url('../images/grey-history-clock.svg');
  background-size: 40px;
  &:hover {
    @extend %nav-hover;
    background-image: url('../images/history-clock.svg');
    background-size: 40px;
  }
}
