@import 'fonts';
@import 'colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $primary-background-color;
}

body {
  font-family: $font-family-1;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Structure */
.wrapper {
  width: 93%;
  margin: auto;
  height: 100vh;
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}

/*******************************************************************************************************************************

                                             SECTION

********************************************************************************************************************************/

#section-grid {
  width: 75%;
  padding: 35px 0 35px 35px;
  float: left;
}

section {
  background-color: $primary-background-color;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  .header {
    color: $header-text-color;
    font-size: 14px;
    display: table-header-group;
    .row {
      display: table-row;
      color: $primary-text-color;
      div {
        border-bottom: 1px solid #e0e0e0;
        display: table-cell;
        padding-left: 2%;
        padding-bottom: 15px;
        width: 16.67%;
      }
    }
  }
  .body {
    display: table-row-group;
    color: $primary-text-color;
    font-size: 13px;
    .row {
      display: table-row;
      color: #2f2f2f;
      div {
        background-color: #f9f9f9;
        border-radius: 2px;
        padding-left: 2%;
        width: 16.67%;
        height: 48px;
        vertical-align: middle;
        display: table-cell;
      }
    }
  }
  .space {
    height: 10px;
  }
}

/*******************************************************************************************************************************

                                             ASIDE / SIDE BAR

********************************************************************************************************************************/
#side-grid {
  width: 19%;
  min-height: 91.35vh;
  float: right;
  padding: 2%;
  color: $primary-text-color;
  background-color: $primary-background-color;
  border-left: 1px solid #d1d1d1;
  .side-contents {
    margin-bottom: 1.5em;
    P {
      color: #aeaeae;
      letter-spacing: 0.4px;
      font-size: 14px;
    }
    select {
      padding: .5em 0 .5em 0;
      margin-bottom: .5em;
      width: 140px;
      -webkit-appearance: none;
      border-radius: 0;
      border-style: none;
      border-bottom: 1px solid #dedede;
      background-color: $primary-background-color;
      font-family: $font-family-1;
      font-size: 18px;
      color: $primary-text-color;
      background: transparent url("../images/icon.png") no-repeat 90% 50%;
    }
  }
  h4 {
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 0;
  }
  span.delete {
    float: right;
  }
}

.input-container, .input-filter {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input[type=checkbox] {
    position: absolute;
    opacity: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 2px solid $header-text-color;
  border-radius: 2px;
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.filter-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid $header-text-color;
  border-radius: 50%;
}

/* When the checkbox is checked, add a background */
.input-container input[type=checkbox]:checked ~ .checkmark {
  background-color: $header-text-color;
}

/* Show the checkmark when checked */
.input-container input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
