@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/fonts';

.title {
  text-transform: uppercase;
  color:  $andela-blue;
}

.row {
  display: flex;
  align-items: center;
}

@mixin indicator-active($width, $color) {
  width: $width;
  height: 6px;
  border-radius: 11px;
  border: solid 0;
  background-color: $color;
}

.title-column {
  flex: 0 0 50%;

    .indicator-active {
      margin-left: 0;
      @include indicator-active(70px, #3359db);
    }
}

.button-column {
  flex: 0 0 50%;
  text-align: right;
}

.user-image-column {
  flex: 0 0 30%;
}

.user-image {
  width: 100%;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #b7b7b7;
}

.user-details-column {
  flex: 0 0 50%;
}

.view-all-mentors{
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  border: solid 1px $andela-blue;
  width: 190px;
  height: 45px;
  border-radius: 1px;
  cursor: pointer;
  color:  $andela-blue;
}

.card {
  margin: 20px 1.5% 0 0;
  flex: 0 0 24%;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.12);
}

.inner-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.full-name {
  font-weight: bold;
}

.mentorship-session {
  font-size: 14px;
  color: #747474;
  margin-top: 8px;
  font-weight: bold;
}

.ratings {
  color: #747474;
  margin-top: 8px;
  font-weight: bold;
}
