@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

.wrapper {
  width: 100%;
  background: $primary-background-color;
  padding: 100px 50px 50px 120px;
  box-sizing: border-box;

  .date-picker {
    margin-left: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;

    .calendar {
      height: 47px;
      line-height: 49px;
      border: 1px solid #d6e3ef;
      position: relative;
      padding: 0 15px;
      top: 25px;
      left: 0px;
      border-left: none;
      border-radius: 0 4px 4px 0;
    }
  }
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}
