@import '../../../../assets/scss/fonts';
.error-notification {
  padding-top: 1%;
  padding-right: 3%;
}
.error-header {
  font-family: $font-family-1;
  font-size: 18px;
  text-align: center;
  color: #303030;
}

.error-tag-line {
  font-family: $font-family-1;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #91979f;
}

.error-notification-circle {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 50%;
  font-size: 35px;
  line-height: 55px;
  color: #0459e4;
  text-align: center;
  background: rgba(4, 89, 228, 0.2);
  left:45%;
  margin: 0 auto 30px;
}
.arrow_up_svg {
  left:71%;
  top:11%;
  position:absolute;
}
