
@import '../../../assets/scss/buttons';

.requestText {
  width: 75vw;
}

md-dialog-actions {
  flex-direction: row-reverse;

  .action-button { 
    color: #333;
    margin-right: 5px;
    width: 8rem;
  }
}
