.centered {
  position: fixed;
  top: 30%;
  left: 26%;
  color: rgb(63, 37, 38);
}

.unauthorized-image {
  width: 350px;
  margin-left: 27%
}

@media only screen and (max-width: 760px) {
  .centered {
    position: fixed;
    top: 30%;
    text-align: center;
    left: 20%;
    font-size: 7px;
    color: rgb(63, 37, 38);
  }

  .unauthorized-image {
    width: 150px;
    margin-left: 5%
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .centered {
    position: fixed;
    top: 30%;
    text-align: center;
    left: 13%;
    color: rgb(63, 37, 38);
  }

  .unauthorized-image {
    width: 350px;
    margin-left: 3%
  }
}
