<div class="container">
  <div class="wrapper">
    <section *ngIf="!loadingSkill">
      <div class="row">
        <div class="title-column">
          <div class="row">
            <div class='back-img' (click)="goToPreviousPage()">
              <img src="assets/images/circled-left-ffffff-32 copy.png">
            </div>
            <div>
              <h3 class="main-header-title">ALL {{skill}} MENTORS</h3>
              <hr class="indicator-active">
            </div>
          </div>
        </div>
        <div *ngIf="mentors?.length > 0" class="button-column">
          <app-export-button (exportEvent)="exportMentorsToCsv()"></app-export-button>
        </div>
      </div>
    </section>
    <section>
      <app-mentor-records [mentors]="mentors"></app-mentor-records>
    </section>
  </div>
</div>
