@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  margin: auto;
  background: $primary-background-color;
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}

#section {
  min-height: 25.35vh;
  margin-left: 0;
  margin-bottom: 30px;
  background: $primary-background-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  position: relative;
}

.card-container {
  display: flex;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 50px;
  position: relative;
  width: 90%;
}

.card {
  position: relative;
  border-radius: 10px;
  margin: 6px;
  width: 18.85%;
  height: 115px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  border: 5px solid #ffffff;
  padding: 10px;
  cursor: pointer;

  &:hover {
    position: relative;
    top: -5px;
  }

  &.active{
    &:nth-last-child(5){
      border-bottom-color: #0A21A8;
    }
    &:nth-last-child(4){
      border-bottom-color: #3359db;
    }
    &:nth-last-child(3) {
      border-bottom-color: #ffaf30;
    }
    &:nth-last-child(2){
      border-bottom-color: #4fab00;
    }
    &:nth-last-child(1){
      border-bottom-color: #ff3535;
    }
  }

  .content {
    position: relative;
    width: 100%;
    height: unset;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #323c47;
    margin: 0;

    .statistics {
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 48px;
      line-height: 1;
      text-align: right;
      color: rgba(104, 104, 104, 0.8);
    }
  }
}

.title {
  display: inline-block;
  color: $andela-blue;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.4;
  text-align: left;

  &:after {
    content: "";
    margin-top: 15px;
    float: left;
    background: $andela-blue;
    width: 50%;
    max-width: 70px;
    height: 6px;
    border-radius: 3px;
  }
}

.title-container {
  display: block;
  float: none;
}

.location {
  width: 46px;
  height: 15px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.checkbox-container {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 182px;
}


.filter > input {
  visibility: hidden;
}

.filter > .img {
  display: inline-block;
  height:20px;
  width:20px;
  background-image: url("../../../../assets/images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  vertical-align: bottom;
}

.filter > input:checked + .img {
  background-image: url("../../../../assets/images/checked-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}

.date-range-picker {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding-right: 20px;
}

.date-range-controls {
  display: flex;
  flex: 1;
  align-content: center;
}

.calendar-filter {
  display: flex;
  margin-right: 50px;
}

.calendar-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 45px;
  height: 49px;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  background-color: rgba(244, 247, 249, 0.4);
  border: solid 1px #d6e3ef;
  margin-top: 25px;
}

.location-dropdown {
  margin-top: 5px;
}

.export-button {
  margin-top: 28px;
  grid-column: 9;
  margin-left: 15px;
}

button {
  width: 97px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #3359db;
  outline: none;
  font-size: 14px;
  color: #3359db;
  font-weight: 500;
  cursor: pointer;
}

.export-icon {
  width: 25px;
  height: 15.5px;
}
