@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  width: 100%;
  margin: auto;
  background: $primary-background-color;
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}

#section {
  min-height: 25.35vh;
  padding: 10px 30px 5px;
  float: left;
  margin-left: 6em;
  margin-top: 4em;
  position: fixed;
  background: $primary-background-color;
  width: 100%;
}

.card-container {
  display: inline-flex;
  margin-top: 20px;
  margin-right: 115px;
  position: relative;
  width: 85%;
  height: 160px;
}

.card {
  position: relative;
  border-radius: 10px;
  margin: 6px;
  width: 18.85%;
  height: 113px;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  border: 5px solid #ffffff;
  cursor: pointer;
  &:hover {
    top: -5px;
  }
  &.active{
    &:nth-last-child(5){
      border-bottom-color: #0A21A8;
    }
    &:nth-last-child(4){
      border-bottom-color: #3359db;
    }
    &:nth-last-child(3) {
      border-bottom-color: #ffaf30;
    }
    &:nth-last-child(2){
      border-bottom-color: #4fab00;
    }
    &:nth-last-child(1){
      border-bottom-color: #ff3535;
    }
  }
  .content {
    width: 260px;
    height: 100px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #323c47;
    margin: 20px;
    .statistics {
      width: 92%;
      font-size: 48px;
      line-height: 0.58;
      text-align: right;
      margin: 22px;
      color: rgba(104, 104, 104, 0.8);
    }
  }
}

.title {
  display: inline-block;
  color: $andela-blue;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 1000;
  line-height: 1.4;
  text-align: left;
  &:after {
    content: "";
    margin-top: 15px;
    float: left;
    background: $andela-blue;
    width: 50%;
    max-width: 70px;
    height: 6px;
    border-radius: 3px;
  }
}

.title-container {
  display: inline-block;
  float: left;
  margin-top: 30px;
}

.checkbox-container {
  display: inline-block;
  float: right;
  margin-top: 45px;
  margin-right: 182px;
}


.filter > input {
  visibility: hidden;
}

.filter > .img {
  display: inline-block;
  height:20px;
  width:20px;
  background-image: url("../../../../assets/images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  vertical-align: bottom;
}

.filter > input:checked + .img {
  background-image: url("../../../../assets/images/checked-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}
