<nav id="nav-grid">
  <ul>
    <li class="nav-home-icon">
      <img src="../../assets/images/andela-master-condensed-mark.png" alt="">
    </li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" id="pool"><a [routerLink]="['request-pool']"></a><span>Pool</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" id="pending"><a [routerLink]="['request-pool/pending']"></a><span>Pending</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" id="progress"><a [routerLink]="['request-pool/in-progress']"></a><span>In Progress</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" id="history"><a [routerLink]="['request-pool/history']"></a><span>History</span></li>
  </ul>
</nav>
