<nav id="nav-grid">
  <ul>
    <li class="nav-home-icon">
      <img src="../../assets/images/andela-master-condensed-mark.png" alt="">
    </li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" [routerLink]="['request-pool']" [routerLinkActiveOptions]="{ exact: true }" id="pool"><span>Pool</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" [routerLink]="['request-pool/pending']" id="pending"><span>Pending</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" [routerLink]="['request-pool/in-progress']" id="progress"><span>In Progress</span></li>
    <li class="nav-icons section-img" [routerLinkActive]="['active']" [routerLink]="['request-pool/history']" id="history"><span>History</span></li>
  </ul>
</nav>
