<a href="{{ notification.messageUrl }}">
  <div class="app-notification-item" [ngStyle]="setNotificationBg()">
    <div class="notification-header">
      <span>
        {{ notification.type }} from <span class="sender"><strong>{{ notification.sender }}</strong></span>
      </span>
      <span class>{{ notification.timestamp | date:'medium' }}</span>
    </div>
    <div class="notification-body" (click)="readNotification()">
      <span>
        {{ trimMessageTitle(notification.message.title) }}
      </span>
    </div>
  </div>
</a>
