@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/loaders';

.row {
  display: block;
  direction: ltr;
  height: calc(100vh - 119px);
}

