@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/loaders';

.row {
  display: block;
  direction: ltr;
  height: 86vh;
  padding-right: 20%;
}

::-webkit-scrollbar {
  width: 0;
}
