<div *ngIf="!rerender" [ngStyle] = "{ 'width': pageWidth}" class="row">
  <div *ngFor="let session of sessions; let indexOfSession = index">
    <app-session-details
      (openLogSessionModal)="openSessionModal(session)"
      (removeDeletedFile)="deleteFile($event, session)"
      [session]="session"
      [request]="request"
      [showAddFileButton]="showAddFileButton"
      [showLogSessionButton]="showLogSessionButton"
      [showConfirmSessionButton]="showConfirmSessionButton">
    </app-session-details>
  </div>
</div>

<app-log-session
                 *ngIf="showLogSessionModal"
                 [session] = "modalSession"
                 [userId]="currentUser.id"
                 [request] = "request"
                 (closeLogSessionModal) = "closeSessionModal()"
                 (updateLoggedSession) = "updateSession($event)">
</app-log-session>
