@import '../../../../../assets/scss/colors';
@import '../../../../../assets/scss/mixins';
@import '../../../../../assets/scss/_loaders';
@import '../../../../../assets/scss/_side-info.scss';

/* global styles */
md-select {
  margin-right: 20px;
}

.spinner {
  text-align: center;
}

.chart {
  height:300px;
  width:750px;
}

md-spinner {
  float: none;
  margin: 0 auto;
}

/* end: global styles */

.report-header {
  width: 100%;
}

.left, .right {
  width: 100%;
}

.left {
  span {
    width: 100%;
    text-align: center;
    display: block;
    padding: 1rem 0 1rem 0;
    @include box-sizing();
  }
  span.title {
    font-size: 1.5rem;
  }
  span.dropdown {
    font-size: 0.9rem;
  }
}

.right {
  padding: 1rem 0 1rem 0;
  @include box-sizing();
  font-size: 0.9rem;
  text-align: center;
  color: $grey-light-300;
  height: 10px;
  span.download {
    position: relative;
    top: -10px;
    left: 140px;
    md-icon {
      position: relative;
      top: 7px;
      font-size: 1.2rem;
      color: $grey-light-300;
    }
  }
  .download:hover {
    cursor: pointer;
    color: $grey-light-400;
    md-icon {
      color: $andela-blue;
    }
  }
}

md-card-content{
  .content-not-found {
    text-align: center;
    font-size: 15px;
    color: #6d6d6d;
  }
}

/**
 *
 * tablet
 *
 */
@media screen and (min-width: 769px) {
  .report-header {
    display: flex;
    flex-direction: row;
  }
  .left {
    width: 80%;
    span {
      text-align: left;
    }
    span.title {
      padding: 0;
    }
    span.dropdown {
      padding: 1.5rem 0 1.5rem 0;
    }
  }
  .right {
    width: 20%;
    text-align: right;
    span.download {
      text-align: right;
    }
  }
}
