<div class="wrapper">
  <section id="section-grid">
      <div class="table" *ngIf="requests?.length > 0; else noRequest">
        <div class="header">
          <div class="row">
            <div>Request</div>
            <div>Primary Skill</div>
            <div>Preferred Duration</div>
            <div>Date Started</div>
            <div>Location</div>
            <div>Role</div>
          </div>
        </div>
        <div class="space"></div>
        <div *ngFor="let request of requests" class="body">
          <div class="row" (click)="goToSingleViewPage(request.id)">
            <div>{{ request.title }}</div>
            <div>{{ request.request_skills|requestSkill: 'primary' }}</div>
            <div>{{ request.duration|requestDuration }}</div>
            <div>{{ request.created_at|date: 'longDate' }}</div>
            <div>{{ request.location }}</div>
            <div>{{ request.role }}</div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <div *ngIf="loading" class="loader"> </div>
    <ng-template #noRequest>
      <app-no-search-result></app-no-search-result>
    </ng-template>
  </section>
</div>
<div class="aside">
  <app-calendar [sessionDates]="sessionDates"></app-calendar>
</div>
