<div class="wrapper">
  <section id="section-grid">
      <div class="table" *ngIf="requests?.length > 0; else noRequest">
        <div *ngIf="!rerender" class="header in-progress-header" appMatchPoolHeaderWidthToParent>
            <div>
              <span (click)="sortInProgressRequestsByHeader('title')">
                Request
                <img
                  appSetRequestHeaderIcon
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'title'"
                  src="../../../../assets/images/sort-a-z-inactive.png"/>
              </span>
            </div>
            <div>Primary Skill</div>
            <div>
              <span (click)="sortInProgressRequestsByHeader('duration')">
                Duration
                <img
                  appSetRequestHeaderIcon
                  [showAlphabeticIcon]="false"
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'duration'"
                  src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortInProgressRequestsByHeader('created_at', true)">
                Date Started
                <img
                  appSetRequestHeaderIcon
                  [showAlphabeticIcon]="false"
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'created_at'"
                  src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortInProgressRequestsByHeader('location')">
                Location
                <img
                  appSetRequestHeaderIcon
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'location'"
                  src="../../../../assets/images/sort-a-z-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortInProgressRequestsByHeader('role')">
                Role
                <img
                  appSetRequestHeaderIcon
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'role'"
                  src="../../../../assets/images/sort-a-z-inactive.png"/>
              </span>
            </div>
          </div>
        <div class="header-space"></div>
        <div *ngFor="let request of requests" class="body">
          <div class="row" (click)="goToSingleViewPage(request.id)">
            <div>{{ request.title }}</div>
            <div>{{ request.request_skills|requestSkill: 'primary' }}</div>
            <div>{{ request.duration|requestDuration }}</div>
            <div>{{ request.created_at|date: 'longDate' }}</div>
            <div>{{ request.location }}</div>
            <div>{{ request.role }}</div>
          </div>
          <div class="space"></div>
        </div>
      </div>
      <div *ngIf="loading" class="loader"> </div>
    <ng-template #noRequest>
      <app-no-search-result></app-no-search-result>
    </ng-template>
  </section>
</div>
<div class="aside">
  <app-calendar [sessionDates]="sessionDates"></app-calendar>
</div>
