<app-header>
  <div id="app-container">
    <div class="app-partial-outlet">
      <div class="and-list-filter-container">
        <div class="and-filter">
          <app-filters></app-filters>
        </div>
        <div class="and-list">
          <div class="and-table-container">
            <!--Table Header-->
            <div class="and-table-head-row">
              <div class="and-table-heading and-table-col-20">
                REQUESTER
              </div>
              <div class="and-table-heading and-table-col-30">
                REQUESTS
              </div>
              <div class="and-table-heading and-table-col-30">
                PRIMARY SKILLS
              </div>
              <div class="and-table-heading and-table-col-20">
                STATUS
              </div>
              <div class="and-table-heading and-table-col-20">
                INTERESTED
              </div>
            </div>

            <!--Table Row-->
            <div class="and-table-row" *ngFor="let request of (requests | statusFilter: checkedStatuses)" routerLink="/requests/{{ request.id }}/mentor">
              <div class="and-table-content and-table-col-20">
                <p>{{ request.requester }}</p>
              </div>
              <div class="and-table-content and-table-col-30">
                <p>{{ request.title }}</p>
              </div>
              <div class="and-table-content and-table-col-30">
                <p>{{ request.skills }}</p>
              </div>
              <div class="and-table-content and-table-col-20">
                <p>{{ request.status.toUpperCase() }}</p>
              </div>
              <div class="and-table-content and-table-col-20">
                <p><i class="material-icons" id="done">done</i>
                  <i class="material-icons" id="clear">clear</i></p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</app-header>