<app-header>
  <div id="app-container">
    <div class="app-partial-outlet">
      <div class="and-list-filter-container">
        <div class="and-filter">
         <app-filters [filtersObject]="mentorFilters" (onChecked)="mentorFilter($event)"></app-filters>
        </div>
        <div class="and-list" *ngIf="requests?.length > 0">
          <div class="and-table-container">
            <!--Table Header-->
            <div class="and-table-head-row">
              <div class="and-table-heading and-table-col-30">
                REQUESTS
              </div>
              <div class="and-table-heading and-table-col-30">
                PRIMARY SKILLS
              </div>
              <div class="and-table-heading and-table-col-20">
                STATUS
              </div>
              <div class="and-table-heading and-table-col-20">
                SELECTED
              </div>
              <div class="and-table-heading and-table-col-20">
                DURATION
              </div>
            </div>

            <div *ngIf="loading" class="loader">
              <md-spinner></md-spinner>
            </div>

            <!--Table Row-->
            <div class="and-table-row" *ngFor="let request of (requests | paginate: { itemsPerPage: itemsPerPage,
            currentPage: currentPage, totalItems: totalItems})"

             routerLink="/requests/{{ request.id }}">
                <div class="and-table-content and-table-col-30">
                    <span class="date-created-small-7">Requested <strong>{{ request.created_at | amTimeAgo }}</strong></span>

                    <p>{{ request.title }}</p>
                    <span class="requester-small-7">by <strong>{{ getMenteeName(request.mentee_email) }}</strong></span>
                </div>
                <div class="and-table-content and-table-col-30">
                    <p>
                        {{ helper.joinSkills(request.request_skills, 'primary') }}
                    </p>
                </div>
                <div class="and-table-content and-table-col-20">
                    <p>{{ request.status.toUpperCase() }}</p>
                </div>
                <div class="and-table-content and-table-col-20">
                    <p *ngIf="(request.mentor_id === userId && request.status === 'matched')"><i class="material-icons" id="done">done</i></p>
                    <p *ngIf="(request.mentor_id !== userId && request.status === 'matched')"><i class="material-icons" id="clear">clear</i></p>
                    <p *ngIf="(request.status === 'open')"><i class="material-icons" id="remove">remove</i></p>
                    <p *ngIf="(request.status === 'cancelled')"><i class="material-icons" id="cancel">cancel</i></p>
                </div>
                <div class="and-table-content and-table-col-20">
                    <p>{{ request.duration }} {{ formatMonth(request.duration) }}</p>
                </div>
            </div>
            <app-pagination (pageChange)="getMentorRequests($event)"></app-pagination>
          </div>
        </div>
        <div class="no-result" *ngIf="requests?.length == 0">
          <h2>No request found......</h2>
        </div>
      </div>
    </div>
  </div>
</app-header>
