@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

.wrapper {
  width: 100%;
  margin: auto;
  background: $primary-background-color;
  position: absolute;
}

.wrapper::after {
  content: '';
  clear: both;
  display: block;
}

.spacer {
  height: 250px;
}
