/* You can add global styles to this file, and also import other style files */
@import  '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-star-rating/assets/scss/star-rating';
@import '/assets/scss/ng-select';
@import '/assets/scss/colors';
@import '/assets/scss/loaders';
@import '/assets/scss/fonts';

html,body {
  background: $grey-light-200;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-family-1;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-1;

  .app-partial-outlet {
    display: flex;
    flex: 1;
  }
}

h4.panel-title {
    margin-bottom: 8px;
    margin-top: 0.3rem;
}

.panel-collapse.collapse.in {
    margin-left: 36px !important;
}

md-checkbox.mat-primary.mat-checkbox {
    display: block;
}

.mat-radio-checked {
  .mat-radio-outer-circle {
    border-color: $andela-blue !important;
  }
  .mat-radio-inner-circle {
    background-color: $andela-blue !important;
  }
  .mat-radio-label-content {
    color: $andela-blue !important;
  }
}

.mat-select-value-text {
  color: $andela-blue !important;
}

.mat-select-placeholder {
  color: #aeaeae;
}

.mat-pseudo-checkbox-checked {
  background-color: $andela-blue !important;
}

.mat-option.mat-selected {
  color: $andela-blue !important;
}

.mat-select-underline {
  height: 2px;
  background-color: #d0d0d0 !important;
}
.rating.color-default .star-container .star {
  svg {
    fill: #3359db;
  }
  i {
    color: #3359db;
  }
}
.rating.color-negative .star-container .star svg {
    fill: #3359db;
}
.star-container {
  z-index: 0;
}
.rating.color-ok .star-container .star svg {
    fill: #3359db;
}
