/* You can add global styles to this file, and also import other style files */
@import  '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import '/assets/scss/ng-select';
@import '/assets/scss/colors';

html,body {
  background: $grey-light-200;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Roboto;

  .app-partial-outlet {
    display: flex;
    flex: 1;
  }
}

h4.panel-title {
    margin-bottom: 8px;
    margin-top: 0.3rem;
}

.panel-collapse.collapse.in {
    margin-left: 36px !important;
}

md-checkbox.mat-primary.mat-checkbox {
    display: block;
}

.mat-radio-checked .mat-radio-outer-circle {
  border-color: #673ab7;
}

.mat-radio-inner-circle {
  background-color: #673ab7;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: rgba(103, 58, 183, .26)
}
