<div id="side-grid">
  <form >
    <div class="side-contents">
      <input type="hidden" [value]="appliedFilters.status" name="status">
      <h4>Requests</h4>
      <div class="requests-radio-encloser">
        <div class="requests-radio">
          <input #all type="radio" value="all" id="all-requests"
                 [checked]="selectedFilters[all.name] === all.value" name="category"
                 (click)="applySelectedFilters({ type: all.name, value: all.value })">
          <label id="all-requests-label" for="all-requests">All Requests</label>
        </div>
        <div class="requests-radio">
          <input #recommended type="radio" value="recommended" id="recommended"
                 [checked]="selectedFilters[recommended.name] === recommended.value" name="category"
                 (click)="applySelectedFilters({ type: recommended.name, value: recommended.value })">
          <label for="recommended">Recommended for me</label>
        </div>
      </div>
    </div>
    <div class="side-contents">
      <h4>Sorting</h4>
      <app-filter-dropdown  [label]="'User\'s rating'" [placeholder]="'Select'" [list]="ratings" [filterCategory]="'ratings'"
      [disabled]="true">
      </app-filter-dropdown>
      <app-filter-dropdown  id="location" [placeholder]="'Select'" [label]="'Location'" [list]="locations" [filterCategory]="'locations'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>
      <app-filter-dropdown  id="length-filter" [placeholder]="'Select'" [label]="'Length'" [list]="lengths" [filterCategory]="'lengths'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>
      <app-filter-dropdown  id="skill-set" [placeholder]="'Select Skill'" [label]="'Skill set'" [list]="skills" [filterCategory]="'skills'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>

    </div>

    <app-save-filters (resetFilters)="resetFilters()" [filters]="selectedFilters" (applySavedFilter)="applySavedFilter($event)"></app-save-filters>

  </form>
</div>
