<div id="side-grid">
  <form >
    <div class="side-contents">
      <input type="hidden" [value]="appliedFilters.status" name="status">
      <h4>Requests</h4>
      <div class="requests-radio-encloser">
        <div class="requests-radio">
          <input #all type="radio" value="all" id="all-requests"
                 [checked]="selectedFilters[all.name] === all.value" name="category"
                 (click)="applySelectedFilters({ type: all.name, value: all.value })">
          <label for="all-requests">All Requests</label>
        </div>
        <div class="requests-radio">
          <input #recommended type="radio" value="recommended" id="recommended"
                 [checked]="selectedFilters[recommended.name] === recommended.value" name="category"
                 (click)="applySelectedFilters({ type: recommended.name, value: recommended.value })">
          <label for="recommended">Recommended for me</label>
        </div>
      </div>
    </div>
    <div class="side-contents seeking-mentor">
      <h4>Type</h4>
      <div class="seeking-checkbox-encloser">
        <div class="seeking-separator">
          <input type="checkbox" disabled="true" class="regular-checkbox" id="mentor-cbx">
          <label for="mentor-cbx" class="checkbox-label"></label>
          <span>Seeking Mentor</span>
        </div>
        <div class="seeking-separator">
          <input type="checkbox" disabled="true" class="regular-checkbox" id="mentee-cbx">
          <label for="mentee-cbx" class="checkbox-label"></label>
          <span>Seeking Mentee</span>
        </div>
      </div>
    </div>
    <div class="side-contents">
      <h4>Sorting</h4>
      <app-filter-dropdown [placeholder]="'User\'s rating'" [list]="ratings" [filterCategory]="'ratings'"
      [disabled]="true">
      </app-filter-dropdown>
      <app-filter-dropdown [placeholder]="'Location'" [list]="locations" [filterCategory]="'locations'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>
      <app-filter-dropdown [placeholder]="'Length'" [list]="lengths" [filterCategory]="'lengths'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>
      <app-filter-dropdown [placeholder]="'Skill set'" [list]="skills" [filterCategory]="'skills'"
                           (changes)="applySelectedFilters($event)">
      </app-filter-dropdown>

    </div>
    <div class="side-contents">
      <h4>Saved Filters</h4>
      <div class="saved-filters">
      <h6 *ngIf="savedFiltersNames.length === 0">You are yet to save any filter</h6>
        <md-radio-group (change)="applySavedFilters($event)">
          <div class="saved-filter" *ngFor="let filterName of savedFiltersNames">
            <span>
              <md-radio-button [value]="filterName"></md-radio-button>
              {{filterName}}
            </span>
            <input (click)="confirmFiltersDelete($event)" class="btn-delete-filter" type="button" [id]="filterName">
          </div>
        </md-radio-group>
      </div>

    </div>
    <div class="btn-wrapper">
      <input type="button" class="inline-block" value="CLEAR FILTERS">
      <input class="btn-success inline-block" type="button" (click)="openFiltersSaveModal()" value="SAVE FILTERS">
    </div>
  </form>
</div>
