@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

#side-grid {
  position: absolute;
  width: 24.5%;
  right: 0px;
  overflow-y: scroll;
  min-height: 91.35vh;
  display: inline-block;
  padding: 90px 0 5px 0px;
  color: $primary-text-color;
  border-left: 1px solid #d1d1d1;

  .side-contents {
    width: inherit;
    margin-bottom: 1.5em;
    margin-left: 10px;
    text-align: left;
    color: #747474;

    .regular-checkbox {
      display: none;
    }

    .checkbox-label {
      display: inline;
      width: 3px;
      height: 3px;
      top: 6px;
      padding-right: 4px;
      padding-left: 0;
      padding-bottom: 10px;
      text-align: right;
      margin-left: 0.5px;
      background-color: $primary-text-color;
    }

    .regular-checkbox + .checkbox-label {
      background-color: $primary-background-color;
      border: 2px solid #b0b0b0;
      padding: 6.4px;
      border-radius: 2px;
      display: inline-block;
      position: relative;
    }

    .regular-checkbox:checked + .checkbox-label {
      border: 2px solid $andela-blue;
      display: inline-block;
      background: url('./../../../../assets/images/tick-square-icon.svg');
    }

    .requests-radio-encloser {
      margin-top: 14px;
      .requests-radio {
        @keyframes ripple {
          0% {
            box-shadow: 0em 0em 0em 0.0625em #fffacd;
          }
          50% {
            box-shadow: 0em 0em 0em 0.9375em #B0E2FF;
          }
          100% {
            box-shadow: 0em 0em 0em 0.9375em rgba(0, 0, 0, 0);
          }
        }
        margin: 6px 0px;
        font-family: Roboto;
        input[type="radio"] {
          display: none;
          margin: 0.1875em 0em;
          &:checked + label:before {
            border-color: $andela-blue;
            animation: ripple 0.2s linear forwards;
            box-sizing: border-box;
          }
          &:checked + label:after {
            transform: scale(1);
          }
        }

        label {
          display: inline-block;
          height: 1.25em;
          position: relative;
          padding: 0 (1.25em + 0.625em);
          margin-bottom: 0;
          cursor: pointer;
          vertical-align: bottom;
          &:before, &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
            box-sizing: border-box;
          }
          &:before {
            left: 0;
            top: 0;
            width: 1.25em;
            height: 1.25em;
            border: 0.125em solid $grey-light-600;
          }
          &:after {
            top: 1.25em / 2 - 0.625em / 2;
            left: 1.25em / 2 - 0.625em / 2;
            width: 0.625em;
            height: 0.625em;
            transform: scale(0);
            background: $andela-blue;
          }
        }
        input {
          display: block;
        }
      }
    }
    .seeking-checkbox-encloser {
      font-family: Roboto;
      color: #b0b0b0;

      .seeking-separator {
        margin: 2px 0px;
      }

      label {
        clear: both;
        font-family: $font-family-1;
        font-size: 0.8em;
        text-align: left;
        margin-bottom: 0.25em;
        color: #303030;
      }

      span {
        margin-top: 0px;
        padding-left: 6px;
        padding-bottom: 5px;
      }
    }

    h4 {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: #747474;
      margin-bottom: 10px;
    }
  }

  .seeking-mentor {
    display: grid;
  }

  h4 {
    font-size: 16px;
    margin-bottom: 1em;
    margin-top: 0;
  }

  input[type="button"] {
    all: unset;
    display: inline-block;
    width: 48%;
    height: 44px;
    border: solid 1px #3359db;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: #3359db;
    background-color: #ffffffff;
    cursor: pointer;
  }

  .btn-success {
     all: unset;
     width: 49%px;
     height: 44px;
     border: solid 1px #3359db;
     background-color: #3359db !important;
     font-size: 12px;
     font-weight: 500;
     letter-spacing: 0.3px;
     text-align: center;
     color: #ffffff !important;
     cursor: pointer;
    }

    .btn-wrapper {
     background-color: #3359db;
     position: fixed;
     bottom: 0px;
     width: 25%;
     margin-left: 0px;
     display: flex;
    }

    .inline-block{
      display: inline-block !important;
    }

    .btn-delete-filter {
      background: url('../../../../assets/images/ic-delete-24-px@2x.png')  no-repeat !important;
      background-size: contain !important;
      background-position: center bottom;
      width: 30px !important;
      height: 16px !important;
      border: 0 !important;
      margin-top: auto !important;
      cursor: pointer;
    }

    .saved-filters {
      cursor: pointer;
      height: 5em;
      overflow-y: scroll;
      border-color: #747474;
      border-style: none;
      border-width: 0 0 1px;
    }
    .saved-filter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100% !important;
    }

  form {
    position: absolute;
    background: $primary-background-color;
  }
}

:host /deep/ .mat-select-placeholder {
  margin:2em 0 1.5em;
}
