<div [ngClass]="{hidden: isError}" (click)="closeModal($event)" id='modal-container' class="modal-container">
  <div class="modal-save">
    <form (submit)="save($event)">
      <span>Save your filter selections as</span>
      <input required [(ngModel)]="filterName" name="filterName" placeholder="start typing">
      <div class="modal-footer form-group">
        <div class="button-group">
          <input type="button" class="inline-block btn-modal-close" id="btn-modal-close" (click)="closeModal($event)" value="DISCARD">
          <input type="submit" value="SAVE" class="inline-block">
        </div>
      </div>
    </form>
  </div>
</div>
