<div class="wrapper" *ngIf="loading || requests?.length > 0; else noRequest">
  <section id="section-grid" [style.width]="sectionGridWidth">
    <div class="content-container">

      <div *ngIf="!rerender" class="pool-header-wrapper">
        <div class="header custom-row">
          <div class="custom-col-3">
            <span>
              Request
            </span>
          </div>
          <div class="custom-col-4">Complimentary/Pre-requisite Skill</div>
          <div class="custom-col-2">
            <span (click)="sortHistoryRequestsByHeader('match_date', true)">
              Date Started
              <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
                [headerName]="'match_date'" src="../../../../assets/images/sort-desc-inactive.png" />
            </span>
          </div>
          <div class="custom-col-2">
            <span (click)="sortHistoryRequestsByHeader('endDate', true)">
              Date Ended
              <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
                [headerName]="'endDate'" src="../../../../assets/images/sort-desc-inactive.png" />
            </span>
          </div>
          <div class="custom-col-2">
            <span (click)="sortHistoryRequestsByHeader('duration')">
              Duration
              <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
                [headerName]="'duration'" src="../../../../assets/images/sort-desc-inactive.png" />
            </span>
          </div>
          <div class="custom-col-2">
            <span (click)="sortHistoryRequestsByHeader('role')">
              My Role
              <img appSetRequestHeaderIcon [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory" [headerName]="'role'"
                src="../../../../assets/images/sort-a-z-inactive.png" />
            </span>
          </div>
          <div class="custom-col-2">
            <span (click)="sortHistoryRequestsByHeader('rating')">
              Rating
              <img appSetRequestHeaderIcon [showAlphabeticIcon]="false" [sortCategoryValues]="sortCategoryValues" [activeSortCategory]="activeSortCategory"
                [headerName]="'rating'" src="../../../../assets/images/sort-desc-inactive.png" />
            </span>
          </div>
        </div>
      </div>
      <div class="pool-table">
        <div class="pool-body">
          <div *ngIf="loading" class="loader"></div>
          <a *ngFor="let request of requests" class="body-content custom-row" (click)="gotoRequestDetails(request.id)">
            <div class="custom-col-3">{{ request.request_skills|requestSkill: 'primary' }}</div>
            <div class="custom-col-4">
                <span *ngIf="request.request_type_id === requestTypes.MENTOR_REQUEST">
                {{ request.request_skills|requestSkill: 'secondary' }}
                </span>
                <span *ngIf="request.request_type_id === requestTypes.MENTEE_REQUEST">
                   {{ request.request_skills|requestSkill: 'preRequisite' }}
               </span>
             </div>
            <div class="custom-col-2">{{ request.match_date|date: 'longDate' }}</div>
            <div class="custom-col-2">{{ request.endDate|date: 'longDate' }}</div>
            <div class="custom-col-2">{{ request.duration|requestDuration }}</div>
            <div class="custom-col-2">{{ request.role }}</div>
            <div class="custom-col-2">
              <star-rating-comp [staticColor]="'default'" [size]="'medium'" [space]="'around'" [starType]="'svg'" [showHalfStars]="true"
                [readOnly]="true" [rating]="request.rating || 0" class="star-rating">
              </star-rating-comp>
            </div>
          </a>
          <div class="space"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<ng-template #noRequest>
  <app-no-result [message]="noResultMessage"></app-no-result>
</ng-template>
