@import "../request-pool";

#section-grid {
  margin-top: 0;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100%;
}

.pool-header-wrapper {
  text-align: left !important;
  padding-left: 30px;
}
