<div class="wrapper">
  <section id="section-grid">
      <div *ngIf="requests?.length > 0; else noRequest" class="table">
        <div *ngIf="!rerender" class="header history-header" appMatchPoolHeaderWidthToParent>
            <div>
              <span (click)="sortHistoryRequestsByHeader('title')">
                Request
                <img
                  appSetRequestHeaderIcon
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'title'"
                  src="../../../../assets/images/sort-a-z-inactive.png"/>
              </span>
            </div>
            <div>Primary Skill</div>
            <div>
              <span (click)="sortHistoryRequestsByHeader('match_date', true)">
                Date Started
                <img
                  appSetRequestHeaderIcon
                  [showAlphabeticIcon] = "false"
                  [sortCategoryValues]="sortCategoryValues"
                  [activeSortCategory]="activeSortCategory"
                  [headerName]="'match_date'"
                  src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortHistoryRequestsByHeader('endDate', true)">
                Date Ended
                 <img
                   appSetRequestHeaderIcon
                   [showAlphabeticIcon] = "false"
                   [sortCategoryValues]="sortCategoryValues"
                   [activeSortCategory]="activeSortCategory"
                   [headerName]="'endDate'"
                   src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortHistoryRequestsByHeader('duration')">
                Duration
                 <img
                   appSetRequestHeaderIcon
                   [showAlphabeticIcon] = "false"
                   [sortCategoryValues]="sortCategoryValues"
                   [activeSortCategory]="activeSortCategory"
                   [headerName]="'duration'"
                   src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortHistoryRequestsByHeader('role')">
                Role
                 <img
                   appSetRequestHeaderIcon
                   [sortCategoryValues]="sortCategoryValues"
                   [activeSortCategory]="activeSortCategory"
                   [headerName]="'role'"
                   src="../../../../assets/images/sort-a-z-inactive.png"/>
              </span>
            </div>
            <div>
              <span (click)="sortHistoryRequestsByHeader('rating')">
                Rating
                 <img
                   appSetRequestHeaderIcon
                   [showAlphabeticIcon] = "false"
                   [sortCategoryValues]="sortCategoryValues"
                   [activeSortCategory]="activeSortCategory"
                   [headerName]="'rating'"
                   src="../../../../assets/images/sort-desc-inactive.png"/>
              </span>
            </div>
        </div>
        <div class="header-space"></div>
        <div *ngFor="let request of requests" class="body">
          <div class="row" (click)="gotoRequestDetails(request.id)">
            <div>{{ request.title }}</div>
            <div>{{ request.request_skills|requestSkill: 'primary' }}</div>
            <div>{{ request.match_date|date: 'longDate' }}</div>
            <div>{{ request.endDate|date: 'longDate' }}</div>
            <div>{{ request.duration|requestDuration }}</div>
            <div>{{ request.role }}</div>
            <div>
              <star-rating-comp
                [staticColor]="'default'"
                [size]="'medium'"
                [space]="'around'"
                [starType]="'svg'"
                [showHalfStars]="true"
                [readOnly]="true"
                [rating]="request.rating"
                class="star-rating"
              >
              </star-rating-comp>
            </div>
          </div>
          <div class="space"></div>
        </div>
      </div>
    <div *ngIf="loading" class="loader"></div>
    <ng-template #noRequest>
      <app-no-search-result ></app-no-search-result>
    </ng-template>
  </section>
</div>
