@import "../request-pool";
@import "../pool-records/pool-records.component";

#section-grid {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  height: 100%;
}

.pool-header-wrapper {
  text-align: left !important;
  padding-left: 30px;
}
