<app-header>

<div id="app-container">
  <div class="app-partial-outlet">
    <div class="and-list-filter-container">
      <div class="and-filter">
        <div class="filter-group">
          <div class="header">
            <i class="material-icons right">expand_less</i>
            <h4>Primary</h4>
          </div>
          <ul>
            <li>
              <md-checkbox color="primary">Angular</md-checkbox>
            </li>
            <li>
              <md-checkbox>Php</md-checkbox>
            </li>
            <li>
              <md-checkbox>Python</md-checkbox>
            </li>
          </ul>
        </div>
        <div class="filter-group">
          <div class="header">
            <i class="material-icons right">expand_more</i>
            <h4>Interested</h4>
          </div>
        </div>
        <div class="filter-group">
          <div class="header">
            <i class="material-icons right">expand_more</i>
            <h4>Open</h4>
          </div>
        </div>
        <div class="filter-group">
          <div class="header">
            <i class="material-icons right">expand_more</i>
            <h4>Matched</h4>
          </div>
        </div>
        <div class="filter-group">
          <div class="header">
            <i class="material-icons right">expand_more</i>
            <h4>Cancelled</h4>
          </div>
        </div>
      </div>
      <div class="and-list">
        <div class="and-table-container">
          <!--Table Header-->
          <div class="and-table-head-row">
            <div class="and-table-heading and-table-col-50">
              REQUESTS
            </div>
            <div class="and-table-heading and-table-col-30">
              PRIMARY SKILLS
            </div>
            <div class="and-table-heading and-table-col-20">
              INTERESTED
            </div>
          </div>

          <!--Table Row-->
          <div class="and-table-row">
            <div class="and-table-content and-table-col-50">
              <p>I have a major blocker configuring nginx</p>
            </div>
            <div class="and-table-content and-table-col-30">
              <p>PostGres, Mysql, Redis</p>
            </div>
            <div class="and-table-content and-table-col-20">
              <a href="#">3 Interested</a>
            </div>
          </div>

          <!--Table Row-->
          <div class="and-table-row">
            <div class="and-table-content and-table-col-50">
              <p>How do I configure an Angular 2 app with Webpack?</p>
            </div>
            <div class="and-table-content and-table-col-30">
              <p>Angular, Webpack</p>
            </div>
            <div class="and-table-content and-table-col-20">
              <a href="#">10 Interested</a>
            </div>
          </div>

          <!--Table Row-->
          <div class="and-table-row">
            <div class="and-table-content and-table-col-50">
              <p>I have a lient working with ReactJS, I need help configuring my stores with Redux</p>
            </div>
            <div class="and-table-content and-table-col-30">
              <p>Redux, React Webpack</p>
            </div>
            <div class="and-table-content and-table-col-20">
              <a href="#">5 Interested</a>
            </div>
          </div>

          <!--Table Row-->
          <div class="and-table-row">
            <div class="and-table-content and-table-col-50">
              <p>Need long term mentor for microservices</p>
            </div>
            <div class="and-table-content and-table-col-30">
              <p>Microservices, gRPC</p>
            </div>
            <div class="and-table-content and-table-col-20">
              <a href="#">15 Interested</a>
            </div>
          </div>

          <!--Table Row-->
          <div class="and-table-row">
            <div class="and-table-content and-table-col-50">
              <p>How does one configure multi container environment with docker-compose</p>
            </div>
            <div class="and-table-content and-table-col-30">
              <p>Redux, React Webpack</p>
            </div>
            <div class="and-table-content and-table-col-20">
              <a href="#">13 Interested</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</app-header>