<div #requestModal class="request-modal">
  <div class="modal-heading">
    Request for {{ selectedRequest.request_skills|requestSkill: 'primary' }} {{ selectedRequest.request_type_id === requestTypes.MENTEE_REQUEST ? 'Mentee' : 'Mentor' }}
    <hr class="underline">
  </div>
  <div class="request-body">
    <p class="request-description">{{ selectedRequest.description }}</p>
    <p class="request-content">Requested by -
      <span> {{ selectedRequest.created_by.fullname }} </span>
      <star-rating-comp [starType]="'svg'" [rating]="rating" [readOnly]="true"></star-rating-comp>
    </p>
    <p class="request-content">{{ selectedRequest.request_type_id === requestTypes.MENTEE_REQUEST ? 'Pre-requisite Skills -' : 'Complementary Skills -' }}
      <span> {{ selectedRequest.request_skills|requestSkill:  selectedRequest.request_type_id === requestTypes.MENTEE_REQUEST ? 'preRequisite' : 'secondary' }} </span>
    </p>
    <p class="request-content">Preffered Location -
      <span> {{ selectedRequest.location || "Anywhere" }} </span>
    </p>
    <p class="request-content">Proposed Duration -
      <span> {{ selectedRequest|proposedRequestDuration }} </span>
    </p>
    <div class="modal-footer">
      <div class="button-group">
        <input id="back-modal-button" [ngClass]="{'right': currentUserIsRequestOwner}" type="button" value="BACK" (click)="closeRequestModal()">
        <input *ngIf="!currentUserIsRequestOwner" id="btn-interested"
               type="submit" value="I'M INTERESTED" (click)="indicateInterest()"
               [ngClass]="{'btn-disabled' : currentUserIsInterested}"
               [disabled] = "currentUserIsInterested ? 'disabled' : ''"
        >
      </div>
    </div>
  </div>
</div>
<div class="modal-background"></div>
