<app-header>

  <div id="app-container">
    <div class="app-partial-outlet">
      <div class="and-list-filter-container">
        <div class="and-filter">
          <app-filters></app-filters>
        </div>
        <div class="and-list">
          <div class="and-table-container">
            <!--Table Header-->
            <div class="and-table-head-row">
              <div class="and-table-heading and-table-col-40">
                REQUESTS
              </div>
              <div class="and-table-heading and-table-col-30">
                PRIMARY SKILLS
              </div>
              <div class="and-table-heading and-table-col-10">
                INTERESTED
              </div>
              <div class="and-table-heading and-table-col-10">
                STATUS
              </div>
            </div>

            <!--Table Row-->
            <div class="and-table-row"
              *ngFor="let request of (requests | skillsFilter: filteredSkills | statusFilter: checkedStatuses)"
              routerLink="/requests/{{ request.id }}"
            >
              <div class="and-table-content and-table-col-40">
                <p>{{request.title}}</p>
              </div>
              <div class="and-table-content and-table-col-30">
                <p>{{request.skills.join(", ")}}</p>
              </div>
              <div class="and-table-content and-table-col-10">
                <a href="#">{{request.interested.length}} Interested</a>
              </div>
              <div class="and-table-content and-table-col-10">
                <p>{{request.status.toUpperCase()}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</app-header>
