@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

.profile-skills {
  width: 100%;
  font-size: 16px;
  padding: 1%;
  min-height: 500px;
  margin-left: -30px;
  background-color: #ffffff;
}

.skills-container {
  padding: 1%;
  width: 50%;
  margin: 0 auto;
}

.skills {
  padding: 5%;
  margin-top: 3%;
  width: 85%;
  min-height: 40px;
  border-radius: 8px;
  background-color: #f2f2f2;
  clear: left;
}

.profile-heading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #3359db;
  margin-bottom: 4%;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 15px;
  font-weight: 500;
  color: #303030;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #ffffff;
  margin-bottom: 8px;
  margin-right: 8px;
}

.chip .close {
  cursor: pointer;
  font-size: 10px;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 8px;
  border-radius: 50%;
  padding: 4px;
  background-color: #ffaf30
}


.submit-button {
  padding: 10px;
  width: 45px;
  height: 45px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  background-color: #ffaf30;
  cursor: pointer;
  margin-left: auto;
  &:disabled {
    padding: 10px;
    width: 45px;
    height: 45px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    background-color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.skill-header {
  margin-right: 2%;
}

:host /deep/ .ng2-auto-complete {
  min-width: 100%;
  max-height: 242px;
  overflow-y: auto;

}

:host /deep/ .ng2-auto-complete .item {
  padding: 15px;

}

.add {
  font-size: 20px;
}
.auto-complete-input-wrapper {
  width: 60%;

  .ng2-auto-complete, input {
    height: 25px;
    width: 100%;
    position: relative;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #e9eff4;
  }

}

.add-skill-form {
  display: flex;
  align-items: center;
}
