<div class="profile-skills">
  <div class="skills-container">
    <div class="profile-heading">
      <span>2. Skills</span>
    </div>
    <div class="add-skill-form">
      <span class="skill-header">Add your skills</span>
      <div class="auto-complete-input-wrapper">
        <input placeholder="Start Typing" id="input-skill"
               ng2-auto-complete [source]="skills" [formControl]="skillControl"
               [list-formatter]="autocompleListFormatter" value-property-name="id"
               display-property-name="name" autocomplete="true"
        />
      </div>
      <button type="submit" class="submit-button" (click)="saveSkill()"
              [disabled]="isObject(skillControl.value) == false || skillControl.value == null">
        <span class="add">+</span>
      </button>
    </div>
    <div class="skills" *ngIf="currentUser.skills.length">
      <span class="chip" *ngFor="let skill of currentUser.skills">{{ skill.name }}
        <span class="close" id="{{ skill.name }}"(click)="deleteUserSkill(skill.id)">&times;</span>
      </span>
    </div>
  </div>
</div>
