.alert-overlay {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.closed {
  .alert {
    display: none;
  }
  .alert-overlay {
    display: none;
  }
}

.alert {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .22), 0 17px 20px 0 rgba(0, 0, 0, .12);
  background-color: white;
  border-radius: 4px;
  left: calc(50% - 300px);
  max-height: calc(100% - 20em);  
  overflow-y: auto;
  position: fixed;
  top: 35% !important;
  width: 600px;
  z-index: 1100;

  .body {
    padding: 4% 10% 4% 10%;
    margin-top: 6%;
  }

  .footer {
    padding: 4%;
    margin-bottom: 8%
  }

  .close-button {
    width: 20%;
    border: none;
    color: white;
    padding: 10px;
    font-size: 13px;
    background-color: #3359db;
    float: right;
    cursor: pointer;
  }

  .white-button {
    position: inline-block;
    border-radius: 0;
    width: 40%;
    height: 44px;    
    border: 1px solid #3359db;
    color: #3359db;
    padding: 10px;
    font-size: 13px;
    background-color: #ffffffff;
    float: right;
    margin: 0 2%;
    cursor: pointer;
  }

}
