@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/loaders';

#section-grid {
  width: 92%;
  min-height: 99vh;
  float: left;

  @media (max-width: 900px) {
    margin-left: 2%;
  }
  margin-top: -20px;
}

/* Structure */
.wrapper {
  width: 100%;
  margin: auto;
  background: $primary-background-color;
  overflow: hidden;
}
