<div class="container">
  <div class="wrapper">
    <div class="header">
      <ul class="header-bar">
        <li> <span class="header-title">{{request.title|uppercase}}
        <hr class="indicator-active">
        </span></li>
        <li>
          <div class="header-buttons">
            <button (click)="showRequestSchedule()" [ngClass]="{'inactive-button': !isRequestScheduleVisible}">
              Schedule
            </button>
            <button (click)="showRequestDetails()" [ngClass]="{'inactive-button': !isRequestDetailsVisible}">Details
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="request-details-wrapper" *ngIf="isRequestDetailsVisible">
        <app-request-details-page [request]="request"></app-request-details-page>
      </div>
      <div class="inprogress-request-schedule-wrapper" *ngIf="isRequestScheduleVisible">
        <app-request-schedule-page [request]="request"></app-request-schedule-page>
      </div>
    </div>
    <div class="aside">
      <app-calendar [sessionDates]="sessionDates"></app-calendar>
    </div>
  </div>
</div>
